<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/2024_04_12_pandas_indexing_and_selecting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More on Selecting Data

* .loc()
* .iloc()

* selecting rows based on column values

* select columns based on row values

* select by boolean condition

* counting and group by

# pandas_indexing_and_selecting


https://www.kaggle.com/datasets/saurabhbadole/latest-data-science-job-salaries-2024

* work_year: The year of the data related to the job salary.
* experience_level: The level of experience of the employee (e.g., entry-level, mid-level, senior-level).
employment_type: The type of employment (e.g., full-time, part-time, contract).
* job_title: The title or role of the employee within the data science field.
* salary: The salary of the employee.
* salary_currency: The currency in which the salary is denoted.
* salary_in_usd: The salary converted to US dollars for standardization.
* employee_residence: The residence location of the employee.
* remote_ratio: The ratio of remote work allowed for the position.
* company_location: The location of the company.
* company_size: The size of the company based on employee count or revenue.

In [44]:
import pandas as pd

file="https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/pandas/DataScience_salaries_2024.csv"
df = pd.read_csv(file)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
1,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
2,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
3,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
4,2022,SE,FT,Lead Machine Learning Engineer,7500000,INR,95386,IN,50,IN,L
...,...,...,...,...,...,...,...,...,...,...,...
14833,2022,MI,FT,Business Intelligence Developer,15000,USD,15000,GH,100,GH,M
14834,2020,EX,FT,Staff Data Analyst,15000,USD,15000,NG,0,CA,M
14835,2021,EN,FT,Machine Learning Developer,15000,USD,15000,TH,100,TH,L
14836,2022,EN,FT,Data Analyst,15000,USD,15000,ID,0,ID,L
14837,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S

In [45]:
# retrieve by boolean condition

df[df['experience_level'] == 'EN']

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
7,2022,EN,FT,Data Scientist,6600000,HUF,17684,HU,100,HU,M
9,2022,EN,FT,Research Engineer,5500000,JPY,41809,JP,50,JP,L
11,2023,EN,FT,AI Programmer,4950806,INR,60207,IN,0,IN,S
14,2020,EN,FT,Data Engineer,4450000,JPY,41689,JP,100,JP,S
16,2023,EN,FT,Applied Machine Learning Scientist,4000000,INR,48644,IN,100,DE,L
...,...,...,...,...,...,...,...,...,...,...,...
14831,2022,EN,FT,Research Engineer,15662,EUR,16455,RU,100,RU,M
14832,2024,EN,PT,Data Science,15000,EUR,16666,DE,50,DE,M
14835,2021,EN,FT,Machine Learning Developer,15000,USD,15000,TH,100,TH,L
14836,2022,EN,FT,Data Analyst,15000,USD,15000,ID,0,ID,L
14837,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S

In [46]:
# since what you retrieve is a dataframe you select columns in a second step

df[df['experience_level'] == 'EN']['job_title']

7                            Data Scientist
9                         Research Engineer
11                            AI Programmer
14                            Data Engineer
16       Applied Machine Learning Scientist
                        ...
14831                     Research Engineer
14832                          Data Science
14835            Machine Learning Developer
14836                          Data Analyst
14837                           ML Engineer
Name: job_title, Length: 1148, dtype: object

In [47]:
# you can put [selection, columns]

# .loc look up by labels
# .iloc is look up positions

#df.loc[ some logical statement, columns]



fr = df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023), ['salary', 'job_title']]

fr

       salary                                 job_title
1895   225000                 Machine Learning Engineer
1901   225000                         Research Engineer
3169   199000                 Machine Learning Engineer
5181   168000                         Research Engineer
6612   150000                              AI Developer
9655   120000                             AI Programmer
10518  110000                             Data Engineer
11407  100000  Machine Learning Infrastructure Engineer
12125   90000                             Data Engineer
13047   75000                             Data Engineer
13418   70000               Machine Learning Specialist
13456   70000  Machine Learning Infrastructure Engineer
13663   65000                             Data Engineer
13862   60000                             Data Engineer
13885   60000                            Data Scientist
14130   53000                             Data Engineer
14253   50000                      Data DevOps Engineer
14322   48000                             Data Engineer
14546   40000               Machine Learning Specialist
14554   40000                            Data Scientist
14726   30000                         Research Engineer

In [48]:
df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
1895,2023,SE,FT,Machine Learning Engineer,225000,USD,225000,FR,0,FR,M
1901,2023,SE,FT,Research Engineer,225000,USD,225000,FR,0,FR,M
3169,2023,SE,FT,Machine Learning Engineer,199000,USD,199000,FR,0,FR,M
5181,2023,SE,FT,Research Engineer,168000,USD,168000,FR,0,FR,M
6612,2023,SE,FT,AI Developer,150000,EUR,161952,FR,50,FR,M
9655,2023,SE,FT,AI Programmer,120000,USD,120000,CA,100,FR,M
10518,2023,MI,FT,Data Engineer,110000,USD,110000,FR,100,FR,M
11407,2023,SE,FT,Machine Learning Infrastructure Engineer,100000,EUR,107968,FR,100,FR,M
12125,2023,MI,FT,Data Engineer,90000,USD,90000,FR,100,FR,M
13047,2023,MI,FT,Data Engineer,75000,EUR,80976,FR,50,FR,M
13418,2023,MI,FT,Machine Learning Specialist,70000,USD,70000,FR,100,FR,M
13456,2023,SE,FT,Machine Learning Infrastructure Engineer,70000,EUR,75577,FR,100,FR,M
13663,2023,MI,FT,Data Engineer,65000,EUR,70179,FR,100,FR,M
13862,2023,MI,FT,Data Engineer,60000,EUR,64781,FR,100,FR,M
13885,2023,MI,FT,Data Scientist,60000,EUR,64781,FR,50,FR,M
14130,2023,MI,FT,Data Engineer,53000,EUR,57223,FR,100,FR,M
14253,2023,SE,FT,Data DevOps Engineer,50000,EUR,53984,FR,50,FR,S
14322,2023,MI,FT,Data Engineer,48000,EUR,51824,FR,100,FR,M
14546,2023,MI,FT,Machine Learning Specialist,40000,USD,40000,FR,100,FR,M
14554,2023,MI,FT,Data Scientist,40000,USD,40000,FR,50,FR,L
14726,2023,EN,FT,Research Engineer,30000,EUR,32390,FR,0,FR,M

In [49]:
fr.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21 entries, 1895 to 14726
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   salary     21 non-null     int64
 1   job_title  21 non-null     object
dtypes: int64(1), object(1)
memory usage: 504.0+ bytes

In [50]:
us=df.loc[(df['company_location'] == 'US') & (df['work_year'] == 2023) & ((df['experience_level'] == 'EN')), ['salary', 'job_title']]

In [51]:
df.loc[(df['company_location'] == 'US') & (df['work_year'] == 2023) & ((df['experience_level'] == 'EN'))]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
198,2023,EN,FT,Research Engineer,350000,USD,350000,US,0,US,M
624,2023,EN,FT,Applied Scientist,281700,USD,281700,US,0,US,M
1047,2023,EN,FT,Research Scientist,252990,USD,252990,US,100,US,M
1085,2023,EN,FT,Research Scientist,250800,USD,250800,US,0,US,M
1086,2023,EN,FT,Research Scientist,250800,USD,250800,US,0,US,M
...,...,...,...,...,...,...,...,...,...,...,...
14549,2023,EN,FT,Data Scientist,40000,USD,40000,UZ,100,US,M
14574,2023,EN,FT,Data Analyst,39000,GBP,47985,US,0,US,M
14612,2023,EN,FT,Machine Learning Engineer,36000,USD,36000,UG,100,US,M
14732,2023,EN,FT,Data Analyst,30000,USD,30000,AR,100,US,S
14784,2023,EN,FT,Data Scientist,24000,USD,24000,US,100,US,M

In [52]:
# df.loc []

df.loc[(df['company_location'] == 'US') & (df['work_year'] == 2023)]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
73,2023,MI,FT,Machine Learning Scientist,750000,USD,750000,US,0,US,M
74,2023,MI,FT,Machine Learning Engineer,750000,USD,750000,US,0,US,M
75,2023,MI,FT,Data Engineer,750000,USD,750000,US,0,US,M
76,2023,SE,FT,Data Scientist,750000,USD,750000,US,0,US,M
86,2023,SE,FT,Analytics Engineer,700000,USD,700000,US,100,US,M
...,...,...,...,...,...,...,...,...,...,...,...
14728,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
14732,2023,EN,FT,Data Analyst,30000,USD,30000,AR,100,US,S
14772,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
14784,2023,EN,FT,Data Scientist,24000,USD,24000,US,100,US,M
14811,2023,MI,FT,Applied Scientist,20000,USD,20000,NG,100,US,L

In [53]:
df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
1895,2023,SE,FT,Machine Learning Engineer,225000,USD,225000,FR,0,FR,M
1901,2023,SE,FT,Research Engineer,225000,USD,225000,FR,0,FR,M
3169,2023,SE,FT,Machine Learning Engineer,199000,USD,199000,FR,0,FR,M
5181,2023,SE,FT,Research Engineer,168000,USD,168000,FR,0,FR,M
6612,2023,SE,FT,AI Developer,150000,EUR,161952,FR,50,FR,M
9655,2023,SE,FT,AI Programmer,120000,USD,120000,CA,100,FR,M
10518,2023,MI,FT,Data Engineer,110000,USD,110000,FR,100,FR,M
11407,2023,SE,FT,Machine Learning Infrastructure Engineer,100000,EUR,107968,FR,100,FR,M
12125,2023,MI,FT,Data Engineer,90000,USD,90000,FR,100,FR,M
13047,2023,MI,FT,Data Engineer,75000,EUR,80976,FR,50,FR,M
13418,2023,MI,FT,Machine Learning Specialist,70000,USD,70000,FR,100,FR,M
13456,2023,SE,FT,Machine Learning Infrastructure Engineer,70000,EUR,75577,FR,100,FR,M
13663,2023,MI,FT,Data Engineer,65000,EUR,70179,FR,100,FR,M
13862,2023,MI,FT,Data Engineer,60000,EUR,64781,FR,100,FR,M
13885,2023,MI,FT,Data Scientist,60000,EUR,64781,FR,50,FR,M
14130,2023,MI,FT,Data Engineer,53000,EUR,57223,FR,100,FR,M
14253,2023,SE,FT,Data DevOps Engineer,50000,EUR,53984,FR,50,FR,S
14322,2023,MI,FT,Data Engineer,48000,EUR,51824,FR,100,FR,M
14546,2023,MI,FT,Machine Learning Specialist,40000,USD,40000,FR,100,FR,M
14554,2023,MI,FT,Data Scientist,40000,USD,40000,FR,50,FR,L
14726,2023,EN,FT,Research Engineer,30000,EUR,32390,FR,0,FR,M

In [54]:
fr = df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]
fr

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
1895,2023,SE,FT,Machine Learning Engineer,225000,USD,225000,FR,0,FR,M
1901,2023,SE,FT,Research Engineer,225000,USD,225000,FR,0,FR,M
3169,2023,SE,FT,Machine Learning Engineer,199000,USD,199000,FR,0,FR,M
5181,2023,SE,FT,Research Engineer,168000,USD,168000,FR,0,FR,M
6612,2023,SE,FT,AI Developer,150000,EUR,161952,FR,50,FR,M
9655,2023,SE,FT,AI Programmer,120000,USD,120000,CA,100,FR,M
10518,2023,MI,FT,Data Engineer,110000,USD,110000,FR,100,FR,M
11407,2023,SE,FT,Machine Learning Infrastructure Engineer,100000,EUR,107968,FR,100,FR,M
12125,2023,MI,FT,Data Engineer,90000,USD,90000,FR,100,FR,M
13047,2023,MI,FT,Data Engineer,75000,EUR,80976,FR,50,FR,M
13418,2023,MI,FT,Machine Learning Specialist,70000,USD,70000,FR,100,FR,M
13456,2023,SE,FT,Machine Learning Infrastructure Engineer,70000,EUR,75577,FR,100,FR,M
13663,2023,MI,FT,Data Engineer,65000,EUR,70179,FR,100,FR,M
13862,2023,MI,FT,Data Engineer,60000,EUR,64781,FR,100,FR,M
13885,2023,MI,FT,Data Scientist,60000,EUR,64781,FR,50,FR,M
14130,2023,MI,FT,Data Engineer,53000,EUR,57223,FR,100,FR,M
14253,2023,SE,FT,Data DevOps Engineer,50000,EUR,53984,FR,50,FR,S
14322,2023,MI,FT,Data Engineer,48000,EUR,51824,FR,100,FR,M
14546,2023,MI,FT,Machine Learning Specialist,40000,USD,40000,FR,100,FR,M
14554,2023,MI,FT,Data Scientist,40000,USD,40000,FR,50,FR,L
14726,2023,EN,FT,Research Engineer,30000,EUR,32390,FR,0,FR,M

In [55]:
df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
1895,2023,SE,FT,Machine Learning Engineer,225000,USD,225000,FR,0,FR,M
1901,2023,SE,FT,Research Engineer,225000,USD,225000,FR,0,FR,M
3169,2023,SE,FT,Machine Learning Engineer,199000,USD,199000,FR,0,FR,M
5181,2023,SE,FT,Research Engineer,168000,USD,168000,FR,0,FR,M
6612,2023,SE,FT,AI Developer,150000,EUR,161952,FR,50,FR,M
9655,2023,SE,FT,AI Programmer,120000,USD,120000,CA,100,FR,M
10518,2023,MI,FT,Data Engineer,110000,USD,110000,FR,100,FR,M
11407,2023,SE,FT,Machine Learning Infrastructure Engineer,100000,EUR,107968,FR,100,FR,M
12125,2023,MI,FT,Data Engineer,90000,USD,90000,FR,100,FR,M
13047,2023,MI,FT,Data Engineer,75000,EUR,80976,FR,50,FR,M
13418,2023,MI,FT,Machine Learning Specialist,70000,USD,70000,FR,100,FR,M
13456,2023,SE,FT,Machine Learning Infrastructure Engineer,70000,EUR,75577,FR,100,FR,M
13663,2023,MI,FT,Data Engineer,65000,EUR,70179,FR,100,FR,M
13862,2023,MI,FT,Data Engineer,60000,EUR,64781,FR,100,FR,M
13885,2023,MI,FT,Data Scientist,60000,EUR,64781,FR,50,FR,M
14130,2023,MI,FT,Data Engineer,53000,EUR,57223,FR,100,FR,M
14253,2023,SE,FT,Data DevOps Engineer,50000,EUR,53984,FR,50,FR,S
14322,2023,MI,FT,Data Engineer,48000,EUR,51824,FR,100,FR,M
14546,2023,MI,FT,Machine Learning Specialist,40000,USD,40000,FR,100,FR,M
14554,2023,MI,FT,Data Scientist,40000,USD,40000,FR,50,FR,L
14726,2023,EN,FT,Research Engineer,30000,EUR,32390,FR,0,FR,M

In [56]:
# this is not a unique index

f=df.set_index(['company_location'])

In [57]:
f.index

Index(['CL', 'US', 'HU', 'JP', 'IN', 'JP', 'IN', 'HU', 'IN', 'JP',
       ...
       'MX', 'RU', 'EC', 'RU', 'DE', 'GH', 'CA', 'TH', 'ID', 'DE'],
      dtype='object', name='company_location', length=14838)

In [58]:
f.loc['US'].info()

<class 'pandas.core.frame.DataFrame'>
Index: 12975 entries, US to US
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           12975 non-null  int64
 1   experience_level    12975 non-null  object
 2   employment_type     12975 non-null  object
 3   job_title           12975 non-null  object
 4   salary              12975 non-null  int64
 5   salary_currency     12975 non-null  object
 6   salary_in_usd       12975 non-null  int64
 7   employee_residence  12975 non-null  object
 8   remote_ratio        12975 non-null  int64
 9   company_size        12975 non-null  object
dtypes: int64(4), object(6)
memory usage: 1.1+ MB

In [59]:

cw=df.set_index(['company_location','work_year'])

In [60]:
cw.index

MultiIndex([('CL', 2021),
            ('US', 2021),
            ('HU', 2020),
            ('JP', 2021),
            ('IN', 2022),
            ('JP', 2021),
            ('IN', 2021),
            ('HU', 2022),
            ('IN', 2022),
            ('JP', 2022),
            ...
            ('MX', 2024),
            ('RU', 2023),
            ('EC', 2023),
            ('RU', 2022),
            ('DE', 2024),
            ('GH', 2022),
            ('CA', 2020),
            ('TH', 2021),
            ('ID', 2022),
            ('DE', 2020)],
           names=['company_location', 'work_year'], length=14838)

In [61]:
cw.loc[("FR",2023)]

<ipython-input-61-c32579a48701>:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  cw.loc[("FR",2023)]

                           experience_level employment_type  \
company_location work_year
FR               2023                    SE              FT
                 2023                    SE              FT
                 2023                    SE              FT
                 2023                    SE              FT
                 2023                    SE              FT
                 2023                    SE              FT
                 2023                    MI              FT
                 2023                    SE              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    SE              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    SE              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    MI              FT
                 2023                    EN              FT

                                                           job_title  salary  \
company_location work_year
FR               2023                      Machine Learning Engineer  225000
                 2023                              Research Engineer  225000
                 2023                      Machine Learning Engineer  199000
                 2023                              Research Engineer  168000
                 2023                                   AI Developer  150000
                 2023                                  AI Programmer  120000
                 2023                                  Data Engineer  110000
                 2023       Machine Learning Infrastructure Engineer  100000
                 2023                                  Data Engineer   90000
                 2023                                  Data Engineer   75000
                 2023                    Machine Learning Specialist   70000
                 2023       Machine Learning Infrastructure Engineer   70000
                 2023                                  Data Engineer   65000
                 2023                                  Data Engineer   60000
                 2023                                 Data Scientist   60000
                 2023                                  Data Engineer   53000
                 2023                           Data DevOps Engineer   50000
                 2023                                  Data Engineer   48000
                 2023                    Machine Learning Specialist   40000
                 2023                                 Data Scientist   40000
                 2023                              Research Engineer   30000

                           salary_currency  salary_in_usd employee_residence  \
company_location work_year
FR               2023                  USD         225000                 FR
                 2023                  USD         225000                 FR
                 2023                  USD         199000                 FR
                 2023                  USD         168000                 FR
                 2023                  EUR         161952                 FR
                 2023                  USD         120000                 CA
                 2023                  USD         110000                 FR
                 2023                  EUR         107968                 FR
                 2023                  USD          90000                 FR
                 2023                  EUR          80976                 FR
                 2023                  USD          70000                 FR
                 2023                  EUR          75577                 FR
                 2023                  EUR          70179                 FR
                 2023                  EUR          64781                 FR
                 2023                  EUR          64781                 FR
                 2023                  EUR          57223                 FR
                 2023                  EUR          53984                 FR
                 2023                  EUR          51824                 FR
                 2023                  USD          40000                 FR
                 2023                  USD          40000                 FR
                 2023                  EUR          32390                 FR

                            remote_ratio company_size
company_location work_year
FR               2023                  0            M
                 2023                  0            M
                 2023                  0            M
                 2023                  0            M
                 2023                 50            M
                 2023                100            M
                 2023                100            M
                 2023                100            M
                 2023                100            M
                 2023                 50            M
                 2023                100            M
                 2023                100            M
                 2023                100            M
                 2023                100            M
                 2023                 50            M
                 2023                100            M
                 2023                 50            S
                 2023                100            M
                 2023                100            M
                 2023                 50            L
                 2023                  0            M

In [62]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

The .loc and .iloc functions are used in pandas for selecting data in a DataFrame. The main difference between the two is that .loc uses the label of the rows and columns to select data, while .iloc uses the integer position of the rows and columns.

In [63]:
# what is wrong with this

df.loc[:,'work_year']

0        2021
1        2021
2        2020
3        2021
4        2022
         ...
14833    2022
14834    2020
14835    2021
14836    2022
14837    2020
Name: work_year, Length: 14838, dtype: int64

In [64]:
df.columns

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [65]:
# must put row and column

# df.loc(index value, labels)

df.loc[:,'work_year']

0        2021
1        2021
2        2020
3        2021
4        2022
         ...
14833    2022
14834    2020
14835    2021
14836    2022
14837    2020
Name: work_year, Length: 14838, dtype: int64

In [66]:
# go get first 3 rows and 3 columns


df.iloc[1:4,1:4]

  experience_level employment_type        job_title
1               MI              FT  BI Data Analyst
2               MI              FT   Data Scientist
3               MI              FT      ML Engineer

In [67]:
df.loc[1:4,['experience_level', 'employment_type','job_title']]

  experience_level employment_type                       job_title
1               MI              FT                 BI Data Analyst
2               MI              FT                  Data Scientist
3               MI              FT                     ML Engineer
4               SE              FT  Lead Machine Learning Engineer

In [68]:
europe = [
        "AL", "AD", "AM", "AT", "BY", "BE", "BA", "BG", "HR", "CY", "CZ",
        "DK", "EE", "FI", "FR", "GE", "DE", "GR", "HU", "IS", "IE", "IT",
        "XK", "LV", "LI", "LT", "LU", "MT", "MD", "MC", "ME", "NL", "MK",
        "NO", "PL", "PT", "RO", "RU", "SM", "RS", "SK", "SI", "ES", "SE",
        "CH", "TR", "UA", "GB", "VA"
    ]

In [69]:
df.loc[(df.experience_level == 'EN') & (df.employee_residence.isin(europe))].loc[:,["job_title","salary",'employee_residence']]

                      job_title   salary employee_residence
7                Data Scientist  6600000                 HU
471                AI Scientist   300000                 DK
3094               AI Developer   200000                 DE
4369   Computer Vision Engineer   180000                 DK
5664             Data Scientist   160800                 GB
...                         ...      ...                ...
14822            Data Scientist    19000                 IT
14824            Data Scientist    18000                 GR
14831         Research Engineer    15662                 RU
14832              Data Science    15000                 DE
14837               ML Engineer    14000                 DE

[184 rows x 3 columns]

In [70]:
df.loc[(df.employee_residence.isin(['US', 'FR']))].loc[:,["job_title","salary","experience_level"]].groupby(['experience_level','job_title'])

# statistics

In [71]:
df.loc[:,['salary']].mean()

salary    165022.718965
dtype: float64

In [72]:
df[df['experience_level'] == 'EN'].groupby('employee_residence')['salary'].sum()

employee_residence
AR      140000
AT       50000
AU      802553
BA      120000
BE      179500
BR      171400
CA     3087458
CH      261000
CL      105000
CN      125404
CO       21844
CR       20000
DE     1295200
DK      600000
DO      110000
DZ      100000
EC       16000
EE       72000
ES      254000
FR      548550
GB     3777934
GR       43000
HR       35000
HU     6643000
ID       15000
IN    28290806
IQ      100000
IR      100000
IT      175500
JE      100000
JP     9990000
KE       50000
KR       40000
KW       50000
LB      143500
LT      240969
LU       50000
MT      122900
MU      100000
MX      895098
NG       88000
NL      468800
PK      200800
PL       78000
PT      135100
RO       26000
RU       15662
SE      210000
SG       90000
TH       15000
TN       29000
TR      197000
UA       75000
UG       36000
US    88151878
UZ      140000
ZA       64378
Name: salary, dtype: int64

In [73]:
df[df['experience_level'] == 'EN'].groupby('employee_residence')['salary'].describe()

,count,mean,std,min,25%,50%,75%,max
employee_residence,,,,,,,,
AR,3.0,4.666667e+04,1.527525e+04,30000.0,40000.0,50000.0,55000.0,60000.0
AT,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
AU,10.0,8.025530e+04,3.799970e+04,34160.0,44000.0,90000.0,92000.0,150000.0
BA,1.0,1.200000e+05,NaN,120000.0,120000.0,120000.0,120000.0,120000.0
BE,3.0,5.983333e+04,1.746663e+04,49500.0,49750.0,50000.0,65000.0,80000.0
BR,3.0,5.713333e+04,3.866075e+04,30000.0,35000.0,40000.0,70700.0,101400.0
CA,32.0,9.648306e+04,3.462341e+04,52000.0,69250.0,93937.5,105300.0,200000.0
CH,3.0,8.700000e+04,2.981610e+04,54000.0,74500.0,95000.0,103500.0,112000.0
CL,1.0,1.050000e+05,NaN,105000.0,105000.0,105000.0,105000.0,105000.0
CN,1.0,1.254040e+05,NaN,125404.0,125404.0,125404.0,125404.0,125404.0
CO,1.0,2.184400e+04,NaN,21844.0,21844.0,21844.0,21844.0,21844.0
CR,1.0,2.000000e+04,NaN,20000.0,20000.0,20000.0,20000.0,20000.0
DE,22.0,5.887273e+04,3.771086e+04,14000.0,42300.0,55000.0,65000.0,200000.0
DK,3.0,2.000000e+05,9.165151e+04,120000.0,150000.0,180000.0,240000.0,300000.0
DO,1.0,1.100000e+05,NaN,110000.0,110000.0,110000.0,110000.0,110000.0
DZ,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
EC,1.0,1.600000e+04,NaN,16000.0,16000.0,16000.0,16000.0,16000.0
EE,2.0,3.600000e+04,0.000000e+00,36000.0,36000.0,36000.0,36000.0,36000.0
ES,9.0,2.822222e+04,6.942222e+03,20000.0,24000.0,26000.0,30000.0,40000.0
FR,13.0,4.219615e+04,1.443290e+04,20000.0,31000.0,42000.0,50000.0,75000.0
GB,82.0,4.607237e+04,2.626615e+04,23000.0,30000.0,38250.0,55000.0,160800.0
GR,2.0,2.150000e+04,4.949747e+03,18000.0,19750.0,21500.0,23250.0,25000.0
HR,1.0,3.500000e+04,NaN,35000.0,35000.0,35000.0,35000.0,35000.0
HU,2.0,3.321500e+06,4.636499e+06,43000.0,1682250.0,3321500.0,4960750.0,6600000.0
ID,1.0,1.500000e+04,NaN,15000.0,15000.0,15000.0,15000.0,15000.0
IN,21.0,1.347181e+06,1.352086e+06,18000.0,50000.0,1400000.0,2000000.0,4950806.0
IQ,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
IR,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
IT,6.0,2.925000e+04,7.627254e+03,19000.0,24125.0,30250.0,33000.0,40000.0
JE,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
JP,3.0,3.330000e+06,2.897188e+06,40000.0,2245000.0,4450000.0,4975000.0,5500000.0
KE,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
KR,1.0,4.000000e+04,NaN,40000.0,40000.0,40000.0,40000.0,40000.0
KW,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
LB,2.0,7.175000e+04,1.873833e+04,58500.0,65125.0,71750.0,78375.0,85000.0
LT,6.0,4.016150e+04,9.062916e+03,28069.0,35100.0,39850.0,44225.0,54000.0
LU,1.0,5.000000e+04,NaN,50000.0,50000.0,50000.0,50000.0,50000.0
MT,2.0,6.145000e+04,2.453661e+04,44100.0,52775.0,61450.0,70125.0,78800.0
MU,1.0,1.000000e+05,NaN,100000.0,100000.0,100000.0,100000.0,100000.0
MX,4.0,2.237745e+05,3.682274e+05,17598.0,17599.5,51750.0,257925.0,774000.0
NG,3.0,2.933333e+04,1.101514e+04,18000.0,24000.0,30000.0,35000.0,40000.0
NL,9.0,5.208889e+04,1.753646e+04,30000.0,42000.0,50490.0,57000.0,85000.0
PK,5.0,4.016000e+04,1.252709e+04,20000.0,40000.0,40000.0,48000.0,52800.0
PL,1.0,7.800000e+04,NaN,78000.0,78000.0,78000.0,78000.0,78000.0
PT,6.0,2.251667e+04,3.888659e+03,20000.0,20000.0,21000.0,22825.0,30000.0
RO,1.0,2.600000e+04,NaN,26000.0,26000.0,26000.0,26000.0,26000.0
RU,1.0,1.566200e+04,NaN,15662.0,15662.0,15662.0,15662.0,15662.0
SE,2.0,1.050000e+05,3.535534e+04,80000.0,92500.0,105000.0,117500.0,130000.0
SG,1.0,9.000000e+04,NaN,90000.0,90000.0,90000.0,90000.0,90000.0
TH,1.0,1.500000e+04,NaN,15000.0,15000.0,15000.0,15000.0,15000.0
TN,1.0,2.900000e+04,NaN,29000.0,29000.0,29000.0,29000.0,29000.0
TR,3.0,6.566667e+04,7.311863e+04,20000.0,23500.0,27000.0,88500.0,150000.0
UA,2.0,3.750000e+04,1.767767e+04,25000.0,31250.0,37500.0,43750.0,50000.0
UG,1.0,3.600000e+04,NaN,36000.0,36000.0,36000.0,36000.0,36000.0
US,855.0,1.031016e+05,4.656321e+04,24000.0,70000.0,91000.0,130000.0,350000.0
UZ,2.0,7.000000e+04,4.242641e+04,40000.0,55000.0,70000.0,85000.0,100000.0
ZA,2.0,3.218900e+04,1.121471e+03,31396.0,31792.5,32189.0,32585.5,32982.0

In [74]:
# axes definition

 # Axis=0 corresponds to the rows, while Axis=1 corresponds to the columns

In [75]:
# loc

#df.loc[row_indexer,column_indexer]

df.loc[0:4,['salary', 'salary_currency', 'salary_in_usd', 'employee_residence']]

     salary salary_currency  salary_in_usd employee_residence
0  30400000             CLP          40038                 CL
1  11000000             HUF          36259                 HU
2  11000000             HUF          35735                 HU
3   8500000             JPY          77364                 JP
4   7500000             INR          95386                 IN

In [76]:
row_sums = df[['salary_in_usd']].sum(axis=1)
row_sums

0        40038
1        36259
2        35735
3        77364
4        95386
         ...
14833    15000
14834    15000
14835    15000
14836    15000
14837    15966
Length: 14838, dtype: int64

In [77]:
column_sums = df.sum(axis=0, numeric_only=True)
print(column_sums)

work_year          30019335
salary           2448607104
salary_in_usd    2223841077
remote_ratio         486100
dtype: int64

In [78]:
# series

df.salary_currency[0:3]

0    CLP
1    HUF
2    HUF
Name: salary_currency, dtype: object

In [79]:
# homework



#1. use loc: list all rows for  US company_location

#2 . use loc: list all rows for FR (France) by only the columns salary, job_title, experience_level

#3 use .iloc : list the first 3 rows and first 6 columns

In [80]:
# time series

# pd.date_range


# https://raw.githubusercontent.com/dooyeoung/walmart_recruiting2_stormy_weather/master/data/weather.csv