<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/2024_04_12_pandas_indexing_and_selecting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# More on Selecting Data

* .loc()
* .iloc()

* selecting rows based on column values

* select columns based on row values


* counting and group by

# pandas_indexing_and_selecting


https://www.kaggle.com/datasets/saurabhbadole/latest-data-science-job-salaries-2024

* work_year: The year of the data related to the job salary.
* experience_level: The level of experience of the employee (e.g., entry-level, mid-level, senior-level).
employment_type: The type of employment (e.g., full-time, part-time, contract).
* job_title: The title or role of the employee within the data science field.
* salary: The salary of the employee.
* salary_currency: The currency in which the salary is denoted.
* salary_in_usd: The salary converted to US dollars for standardization.
* employee_residence: The residence location of the employee.
* remote_ratio: The ratio of remote work allowed for the position.
* company_location: The location of the company.
* company_size: The size of the company based on employee count or revenue.

In [ ]:
import pandas as pd

file="https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/pandas/DataScience_salaries_2024.csv"
df = pd.read_csv(file)
df

In [ ]:
#df.loc[1:4,'experience_level, employment_type,job_title']

df.loc[1:4,[['experience_level'],['employment_type']]]

In [ ]:
# you can put [selection, columns]

# .loc look up by labels
# .iloc is look up positions

#df.loc[ some logical statement, columns]



fr = df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023), ['salary', 'job_title']]

fr

In [ ]:
df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]

In [ ]:
fr.info()

In [ ]:
us=df.loc[(df['company_location'] == 'US') & (df['work_year'] == 2023) & ((df['experience_level'] == 'EN')), ['salary', 'job_title']]

In [ ]:
df.loc[(df['company_location'] == 'US') & (df['work_year'] == 2023) & ((df['experience_level'] == 'EN'))]

In [ ]:
# df.loc []

df.loc[(df['company_location'] == 'US') & (df['work_year'] == 2023)]

In [ ]:
df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]

In [ ]:
fr = df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]
fr

In [ ]:
df.loc[(df['company_location'] == 'FR') & (df['work_year'] == 2023)]

In [ ]:
# this is not a unique index

f=df.set_index(['company_location'])

In [ ]:
f.index

In [ ]:
f.loc['US'].info()

In [ ]:

cw=df.set_index(['company_location','work_year'])

In [ ]:
cw.index

In [ ]:
cw.loc[("FR",2023)]

In [ ]:
df.columns

The .loc and .iloc functions are used in pandas for selecting data in a DataFrame. The main difference between the two is that .loc uses the label of the rows and columns to select data, while .iloc uses the integer position of the rows and columns.

In [ ]:
# what is wrong with this

df.loc[:,'work_year']

In [ ]:

# fix this, how can we list just certain columns: name and mass


# dataframe[series,series]


# the other way to to look up stuff is without using .iloc or .loc

#df[df['name'], df['mass']].sort_values(by="mass")


# fix this, how can we list just certain columns: name and mass


# dataframe[series,series]

# it looks like means look up by index and column but it's incomplete probably
# because I moved company_location to be an index

# leave open

df[df['salary'], df['company_location']]

In [ ]:
df.columns

In [ ]:
# must put row and column

# df.loc(index value, labels)

df.loc[:,'work_year']

In [ ]:
# go get first 3 rows and 3 columns


df.iloc[1:4,1:4]

In [ ]:
df.loc[1:4,['experience_level, employment_type,job_title']]

In [ ]:
europe = [
        "AL", "AD", "AM", "AT", "BY", "BE", "BA", "BG", "HR", "CY", "CZ",
        "DK", "EE", "FI", "FR", "GE", "DE", "GR", "HU", "IS", "IE", "IT",
        "XK", "LV", "LI", "LT", "LU", "MT", "MD", "MC", "ME", "NL", "MK",
        "NO", "PL", "PT", "RO", "RU", "SM", "RS", "SK", "SI", "ES", "SE",
        "CH", "TR", "UA", "GB", "VA"
    ]

In [ ]:
df.loc[(df.experience_level == 'EN') & (df.employee_residence.isin(europe))].loc[:,["job_title","salary",'employee_residence']]

In [ ]:
df.loc[(df.employee_residence.isin(['US', 'FR']))].loc[:,["job_title","salary","experience_level"]].groupby(['experience_level','job_title'])

In [ ]:
df[df['experience_level'] == 'EN'].groupby('employee_residence')['salary'].sum()

In [ ]:
df[df['experience_level'] == 'EN'].groupby('employee_residence')['salary'].describe()

In [ ]:
# axes definition

 # Axis=0 corresponds to the rows, while Axis=1 corresponds to the columns

In [ ]:
# loc

#df.loc[row_indexer,column_indexer]

df.loc[0:4,['salary', 'salary_currency', 'salary_in_usd', 'employee_residence']]

In [ ]:
row_sums = df[['salary_in_usd']].sum(axis=1)
row_sums

In [ ]:
column_sums = df.sum(axis=0, numeric_only=True)
print(column_sums)

In [ ]:
# series

df.salary_currency[0:3]

In [ ]:
# homework



#1. use loc: list all rows for  US company_location

#2 . use loc: list all rows for FR (France) by only the columns salary, job_title, experience_level

#3 use .iloc : list the first 3 rows and first 6 columns

In [ ]:
# time series

# pd.date_range


# https://raw.githubusercontent.com/dooyeoung/walmart_recruiting2_stormy_weather/master/data/weather.csv