<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/pandas_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [193]:
import numpy as np
import pandas as pd

import random

mean=10000
std=25



cols = [("name", str), ("income",np.int8), ("education", str),
     ("age", str), ("city",str), ("id", np.int8), ("email", str), ("salary", np.int8),
        ("citizen", ["Y", "N"])]

words = [np.NaN, "", "abc", "def", "ghi", "jkl", "mno", "pqr"]

records = []


for i in range(20):

  data = {}

  for c in cols:

    if c[1] == np.int8:
      if random.randint(0,5)==5:
          data[c[0]] = np.NaN
      else:
          data[c[0]] = abs(int(random.gauss(mean, std)))

    if c[0] == "citizen":
       if random.randint(0,5)==5:
          data[c[0]] = random.randint(0,10)
       else:
          data[c[0]] =c[1][random.randint(0,1)]

    if c[1] == str and c[0] != "citizen":
       data[c[0]] = words[random.randint(0,len(words)-1)]

    if (c[0] == "income") & (random.randint(0,5)==0):
        data[c[0]] = chr(random.randint(65,70))

    if (c[0] == "income") & (random.randint(0,10)==0):
        data[c[0]] = 1000000

  records.append(data)

df=pd.DataFrame(records)


df

   name income education  age city       id email   salary citizen
0   NaN   9993       ghi  pqr  abc      NaN   jkl  10038.0       N
1   NaN  10031       jkl  pqr       10026.0   pqr  10047.0       Y
2   NaN   9980       abc             9946.0   def  10029.0       7
3   mno   9971       jkl  abc        9993.0   NaN   9993.0       Y
4   abc   9962       abc  def  abc  10041.0   def   9972.0       4
5   ghi    NaN       def  jkl  NaN   9985.0        10042.0       6
6   jkl  10011       def  pqr  NaN   9961.0   ghi  10018.0       N
7   pqr    NaN       abc       NaN   9994.0   ghi   9994.0       Y
8   mno  10022       def  pqr       10028.0   NaN   9977.0       Y
9   ghi  10017       ghi  NaN  jkl  10016.0   ghi   9986.0       N
10  pqr   9973       def  def  ghi  10026.0   mno   9980.0       Y
11  def   9984       def  mno  def  10007.0   ghi   9995.0       N
12  abc    NaN       jkl  jkl  NaN   9993.0   pqr  10029.0       N
13  NaN  10036       pqr  mno  pqr  10043.0   mno   9991.0       N
14  jkl   9985       def  def  abc   9980.0   NaN      NaN       Y
15  mno    NaN       mno  jkl  mno  10005.0   jkl   9971.0       Y
16  NaN  10037       mno  ghi  ghi   9991.0   def   9970.0       Y
17  def      F       ghi  ghi  def  10015.0   jkl   9989.0       N
18  def   9995       def  ghi  mno  10004.0   def  10018.0       N
19  abc   9988       NaN  def  mno      NaN   mno  10015.0       N

In [194]:
# check if column in series is empty

df['name'].isnull()

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
15    False
16     True
17    False
18    False
19    False
Name: name, dtype: bool

In [195]:
# draw from mean()

sMean=df['salary'].mean()

df['salary'] = df['salary'].fillna(sMean)

df

   name income education  age city       id email        salary citizen
0   NaN   9993       ghi  pqr  abc      NaN   jkl  10038.000000       N
1   NaN  10031       jkl  pqr       10026.0   pqr  10047.000000       Y
2   NaN   9980       abc             9946.0   def  10029.000000       7
3   mno   9971       jkl  abc        9993.0   NaN   9993.000000       Y
4   abc   9962       abc  def  abc  10041.0   def   9972.000000       4
5   ghi    NaN       def  jkl  NaN   9985.0        10042.000000       6
6   jkl  10011       def  pqr  NaN   9961.0   ghi  10018.000000       N
7   pqr    NaN       abc       NaN   9994.0   ghi   9994.000000       Y
8   mno  10022       def  pqr       10028.0   NaN   9977.000000       Y
9   ghi  10017       ghi  NaN  jkl  10016.0   ghi   9986.000000       N
10  pqr   9973       def  def  ghi  10026.0   mno   9980.000000       Y
11  def   9984       def  mno  def  10007.0   ghi   9995.000000       N
12  abc    NaN       jkl  jkl  NaN   9993.0   pqr  10029.000000       N
13  NaN  10036       pqr  mno  pqr  10043.0   mno   9991.000000       N
14  jkl   9985       def  def  abc   9980.0   NaN  10002.842105       Y
15  mno    NaN       mno  jkl  mno  10005.0   jkl   9971.000000       Y
16  NaN  10037       mno  ghi  ghi   9991.0   def   9970.000000       Y
17  def      F       ghi  ghi  def  10015.0   jkl   9989.000000       N
18  def   9995       def  ghi  mno  10004.0   def  10018.000000       N
19  abc   9988       NaN  def  mno      NaN   mno  10015.000000       N

In [196]:
# Yes, No columns cannot contain numbers
# NaN is OK as we can get rid of it in a second step plus certain functions like mean()
# will ignore it.  coerce means convert to NaN on error

df['income'] = df['income'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

df['income']

0      9993.0
1     10031.0
2      9980.0
3      9971.0
4      9962.0
5         NaN
6     10011.0
7         NaN
8     10022.0
9     10017.0
10     9973.0
11     9984.0
12        NaN
13    10036.0
14     9985.0
15        NaN
16    10037.0
17        NaN
18     9995.0
19     9988.0
Name: income, dtype: float64

In [197]:
# drop outliers, too many standard deviations away


mean = df['income'].mean()
std_dev = df['income'].std()

# Define threshold for outliers (e.g., values more than 2 standard deviations away from the mean)
threshold = 2

df.loc[(df['income'] - mean) > 2 * std_dev]

Empty DataFrame
Columns: [name, income, education, age, city, id, email, salary, citizen]
Index: []

In [198]:
df.drop(df.loc[(df['income'] - mean) > 2 * std_dev].index, inplace=True)

df

   name   income education  age city       id email        salary citizen
0   NaN   9993.0       ghi  pqr  abc      NaN   jkl  10038.000000       N
1   NaN  10031.0       jkl  pqr       10026.0   pqr  10047.000000       Y
2   NaN   9980.0       abc             9946.0   def  10029.000000       7
3   mno   9971.0       jkl  abc        9993.0   NaN   9993.000000       Y
4   abc   9962.0       abc  def  abc  10041.0   def   9972.000000       4
5   ghi      NaN       def  jkl  NaN   9985.0        10042.000000       6
6   jkl  10011.0       def  pqr  NaN   9961.0   ghi  10018.000000       N
7   pqr      NaN       abc       NaN   9994.0   ghi   9994.000000       Y
8   mno  10022.0       def  pqr       10028.0   NaN   9977.000000       Y
9   ghi  10017.0       ghi  NaN  jkl  10016.0   ghi   9986.000000       N
10  pqr   9973.0       def  def  ghi  10026.0   mno   9980.000000       Y
11  def   9984.0       def  mno  def  10007.0   ghi   9995.000000       N
12  abc      NaN       jkl  jkl  NaN   9993.0   pqr  10029.000000       N
13  NaN  10036.0       pqr  mno  pqr  10043.0   mno   9991.000000       N
14  jkl   9985.0       def  def  abc   9980.0   NaN  10002.842105       Y
15  mno      NaN       mno  jkl  mno  10005.0   jkl   9971.000000       Y
16  NaN  10037.0       mno  ghi  ghi   9991.0   def   9970.000000       Y
17  def      NaN       ghi  ghi  def  10015.0   jkl   9989.000000       N
18  def   9995.0       def  ghi  mno  10004.0   def  10018.000000       N
19  abc   9988.0       NaN  def  mno      NaN   mno  10015.000000       N

In [199]:
# drop all numbers in Yes/No answer

df['citizen'] = df['citizen'].apply(lambda x: x if isinstance(x,str) else np.NaN)
df['citizen']

0       N
1       Y
2     NaN
3       Y
4     NaN
5     NaN
6       N
7       Y
8       Y
9       N
10      Y
11      N
12      N
13      N
14      Y
15      Y
16      Y
17      N
18      N
19      N
Name: citizen, dtype: object

In [200]:
df

   name   income education  age city       id email        salary citizen
0   NaN   9993.0       ghi  pqr  abc      NaN   jkl  10038.000000       N
1   NaN  10031.0       jkl  pqr       10026.0   pqr  10047.000000       Y
2   NaN   9980.0       abc             9946.0   def  10029.000000     NaN
3   mno   9971.0       jkl  abc        9993.0   NaN   9993.000000       Y
4   abc   9962.0       abc  def  abc  10041.0   def   9972.000000     NaN
5   ghi      NaN       def  jkl  NaN   9985.0        10042.000000     NaN
6   jkl  10011.0       def  pqr  NaN   9961.0   ghi  10018.000000       N
7   pqr      NaN       abc       NaN   9994.0   ghi   9994.000000       Y
8   mno  10022.0       def  pqr       10028.0   NaN   9977.000000       Y
9   ghi  10017.0       ghi  NaN  jkl  10016.0   ghi   9986.000000       N
10  pqr   9973.0       def  def  ghi  10026.0   mno   9980.000000       Y
11  def   9984.0       def  mno  def  10007.0   ghi   9995.000000       N
12  abc      NaN       jkl  jkl  NaN   9993.0   pqr  10029.000000       N
13  NaN  10036.0       pqr  mno  pqr  10043.0   mno   9991.000000       N
14  jkl   9985.0       def  def  abc   9980.0   NaN  10002.842105       Y
15  mno      NaN       mno  jkl  mno  10005.0   jkl   9971.000000       Y
16  NaN  10037.0       mno  ghi  ghi   9991.0   def   9970.000000       Y
17  def      NaN       ghi  ghi  def  10015.0   jkl   9989.000000       N
18  def   9995.0       def  ghi  mno  10004.0   def  10018.000000       N
19  abc   9988.0       NaN  def  mno      NaN   mno  10015.000000       N

In [201]:
df.dropna(how='any', inplace=True)
df

   name  income education  age city       id email   salary citizen
10  pqr  9973.0       def  def  ghi  10026.0   mno   9980.0       Y
11  def  9984.0       def  mno  def  10007.0   ghi   9995.0       N
18  def  9995.0       def  ghi  mno  10004.0   def  10018.0       N