<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/pandas_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# https://towardsdatascience.com/data-cleaning-with-python-and-pandas-detecting-missing-values-3e9c6ebcf78b

In [28]:
import numpy as np
import pandas as pd

import random

mean=10000
std=25



cols = [("name", str), ("income",np.int8), ("education", str),
     ("age", str), ("city",str), ("id", np.int8), ("email", str), ("salary", np.int8)]

words = [np.NaN, "", "abc", "def", "ghi", "jkl", "mno", "pqr"]




records = []


for i in range(20):

  data = {}

  for c in cols:


    if c[1] == np.int8:
      data[c[0]] = abs(int(random.gauss(mean, std)))

    if c[1] == str:
       data[c[0]] = words[random.randint(0,len(words)-1)]

  records.append(data)


arr=pd.DataFrame(records)


arr

   name  income education  age city     id email  salary
0   NaN    9955       pqr       NaN  10029          9983
1   pqr    9967       mno       mno  10022   abc   10010
2   mno   10022            NaN  mno  10017   ghi    9977
3   NaN    9994       abc  abc  mno   9959         10041
4   NaN    9943       def  abc  mno   9986   NaN   10043
5   jkl   10007       NaN  ghi  mno   9973   pqr   10003
6   pqr   10007       NaN  def  def   9977   jkl    9972
7   NaN    9972       abc  pqr  mno   9968   jkl    9975
8         10002            NaN  NaN  10027         10026
9   pqr    9968       mno  mno        9989   def   10008
10  ghi    9995       jkl  ghi  ghi  10022          9994
11  jkl   10007       pqr  def  jkl  10050   NaN   10008
12  def    9996       NaN  pqr  def  10003   pqr   10000
13  abc   10005       mno  def        9935   mno   10002
14        10070       pqr  pqr  def   9980   pqr    9965
15  mno    9979       ghi  pqr  NaN   9999   ghi    9976
16        10018            ghi  jkl   9983   mno    9946
17  ghi    9979       mno  pqr  abc   9988   pqr    9980
18  pqr   10026       ghi       abc  10041   jkl   10006
19  abc    9978       mno  mno  abc   9996   ghi    9969

In [24]:
len(words)
len(cols)

8

In [67]:
words[random.randint(0,len(words)-1)]

'ghi'

In [57]:
c=cols[0]
isinstance(c,numpy.int8)

False

In [58]:
c

('name', str)