<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/pandas_statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# this data is downloaded from Kaggle

file="https://raw.githubusercontent.com/werowe/HypatiaAcademy/master/pandas/DataScience_salaries_2024.csv"
df = pd.read_csv(file)
df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2021,MI,FT,Data Scientist,30400000,CLP,40038,CL,100,CL,L
1,2021,MI,FT,BI Data Analyst,11000000,HUF,36259,HU,50,US,L
2,2020,MI,FT,Data Scientist,11000000,HUF,35735,HU,50,HU,L
3,2021,MI,FT,ML Engineer,8500000,JPY,77364,JP,50,JP,S
4,2022,SE,FT,Lead Machine Learning Engineer,7500000,INR,95386,IN,50,IN,L
...,...,...,...,...,...,...,...,...,...,...,...
14833,2022,MI,FT,Business Intelligence Developer,15000,USD,15000,GH,100,GH,M
14834,2020,EX,FT,Staff Data Analyst,15000,USD,15000,NG,0,CA,M
14835,2021,EN,FT,Machine Learning Developer,15000,USD,15000,TH,100,TH,L
14836,2022,EN,FT,Data Analyst,15000,USD,15000,ID,0,ID,L
14837,2020,EN,PT,ML Engineer,14000,EUR,15966,DE,100,DE,S

In [ ]:
# Here we show average (mean) salary in the US, France, and Germany
# here we tell it how to format the numbers into floating point numbers with 2 decimal positions
# otherwise it tends to use scientific notation where we don't want that
# we use reset_index to turn it back into a dataframe otherwise it would just be text and not nice format


pd.options.display.float_format = '{:.2f}'.format


salaries=df[df['company_location'].isin(['US', 'FR', 'DE'])].groupby(['company_location','job_title'])['salary_in_usd'].mean().reset_index()

sorted=salaries.sort_values(["company_location", "salary_in_usd", "job_title"],ascending=False)

sorted

    company_location                           job_title  salary_in_usd
122               US              Data Science Tech Lead      375000.00
141               US            Head of Machine Learning      337000.00
137               US                Finance Data Analyst      323905.00
159               US      Managing Director Data Science      280000.00
55                US                  AWS Data Architect      258000.00
..               ...                                 ...            ...
4                 DE                Admin & Data Analyst       50000.00
7                 DE  Applied Machine Learning Scientist       45915.50
1                 DE                         AI Engineer       35000.00
26                DE          Machine Learning Scientist       34672.00
23                DE          Machine Learning Developer       33000.00

[177 rows x 3 columns]

In [ ]:
# average of all salaries
df.loc[:,['salary']].mean()

salary   165022.72
dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14838 entries, 0 to 14837
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           14838 non-null  int64
 1   experience_level    14838 non-null  object
 2   employment_type     14838 non-null  object
 3   job_title           14838 non-null  object
 4   salary              14838 non-null  int64
 5   salary_currency     14838 non-null  object
 6   salary_in_usd       14838 non-null  int64
 7   employee_residence  14838 non-null  object
 8   remote_ratio        14838 non-null  int64
 9   company_location    14838 non-null  object
 10  company_size        14838 non-null  object
dtypes: int64(4), object(7)
memory usage: 1.2+ MB

In [ ]:
# average by country

salaries=df[(df['company_location'].isin(['US', 'FR', 'DE'])) & (df['work_year'] == 2023)].groupby(['company_location'])['salary_in_usd'].mean().reset_index()

sorted=salaries.sort_values(["company_location", "salary_in_usd"],ascending=False)

sorted

  company_location  salary_in_usd
2               US      159578.62
1               FR      100411.19
0               DE      112799.97

In [ ]:
# sum across row

df = pd.DataFrame({

      "a" : [1,2,3,4],
      "b" : [5,6,7,8]
})

The "axis" parameter in Pandas refers to the direction along which an operation is performed on data structures like Series and DataFrames. In a Series, which is a one-dimensional array of values, there is only "axis 0" representing the single dimension. On the other hand, a DataFrame, a two-dimensional data structure similar to a table, has both "axis 0" for rows and "axis 1" for columns.

# Axis Defined

In [ ]:


# add across rows

df.sum(axis=0)

a    10
b    26
dtype: int64