<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/pandas/pandas_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [252]:
import numpy as np
import pandas as pd

import random

mean=10000
std=25



cols = [("name", str), ("income",np.int8), ("education", str),
     ("age", str), ("city",str), ("id", np.int8), ("email", str), ("salary", np.int8),
        ("citizen", ["Y", "N"])]

words = [np.NaN, "", "abc", "def", "ghi", "jkl", "mno", "pqr"]

records = []


for i in range(20):

  data = {}

  for c in cols:

    if c[1] == np.int8:
      if random.randint(0,5)==5:
          data[c[0]] = np.NaN
      else:
          data[c[0]] = abs(int(random.gauss(mean, std)))

    if c[0] == "citizen":
       if random.randint(0,5)==5:
          data[c[0]] = random.randint(0,10)
       else:
          data[c[0]] =c[1][random.randint(0,1)]

    if c[1] == str and c[0] != "citizen":
       data[c[0]] = words[random.randint(0,len(words)-1)]

    if (c[0] == "income") & (random.randint(0,5)==0):
        data[c[0]] = chr(random.randint(65,70))

    if (c[0] == "income") & (random.randint(0,10)==0):
        data[c[0]] = 1000000

  records.append(data)

df=pd.DataFrame(records)


df

   name   income education  age city       id email   salary citizen
0   def     9974       def  pqr  abc   9956.0   NaN   9995.0       Y
1   ghi     9964       mno  NaN  pqr   9988.0   def   9990.0       Y
2   abc     9993       abc  pqr  pqr   9994.0   jkl      NaN       N
3   mno    10051       NaN            10005.0   NaN  10027.0       N
4   NaN    10026       pqr  jkl  mno  10038.0   pqr   9968.0       Y
5   def     9951            mno  NaN  10003.0   NaN      NaN       Y
6   def      NaN       jkl  NaN  pqr  10021.0   abc   9992.0       N
7   NaN    10006       pqr  mno  pqr  10007.0   pqr   9980.0       N
8   jkl    10022       NaN  jkl       10013.0   abc   9989.0       3
9   mno        C       pqr  ghi  abc      NaN   pqr  10028.0       N
10  NaN    10008       def  mno  abc      NaN   jkl      NaN       N
11  NaN     9989       pqr  def  abc   9946.0   NaN  10008.0       Y
12       1000000       mno       abc      NaN   jkl      NaN       N
13  def    10034       ghi  def  NaN   9952.0   jkl  10002.0       N
14  abc     9946       jkl  NaN  jkl  10027.0   mno  10014.0       N
15  NaN     9986            mno  abc  10019.0   pqr   9989.0       Y
16  ghi        B       def  jkl       10015.0   NaN  10043.0       N
17  mno     9976       def  abc  mno  10007.0   jkl  10025.0       N
18  def     9964       jkl  abc  mno   9973.0   mno  10008.0       Y
19           NaN       abc  abc  ghi  10036.0   def   9960.0       6

In [253]:
# check if column in series is empty

df['name'].isnull()

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7      True
8     False
9     False
10     True
11     True
12    False
13    False
14    False
15     True
16    False
17    False
18    False
19    False
Name: name, dtype: bool

In [254]:
# draw from mean()

sMean=df['salary'].mean()

df['salary'] = df['salary'].fillna(sMean)

df

   name   income education  age city       id email     salary citizen
0   def     9974       def  pqr  abc   9956.0   NaN   9995.000       Y
1   ghi     9964       mno  NaN  pqr   9988.0   def   9990.000       Y
2   abc     9993       abc  pqr  pqr   9994.0   jkl  10001.125       N
3   mno    10051       NaN            10005.0   NaN  10027.000       N
4   NaN    10026       pqr  jkl  mno  10038.0   pqr   9968.000       Y
5   def     9951            mno  NaN  10003.0   NaN  10001.125       Y
6   def      NaN       jkl  NaN  pqr  10021.0   abc   9992.000       N
7   NaN    10006       pqr  mno  pqr  10007.0   pqr   9980.000       N
8   jkl    10022       NaN  jkl       10013.0   abc   9989.000       3
9   mno        C       pqr  ghi  abc      NaN   pqr  10028.000       N
10  NaN    10008       def  mno  abc      NaN   jkl  10001.125       N
11  NaN     9989       pqr  def  abc   9946.0   NaN  10008.000       Y
12       1000000       mno       abc      NaN   jkl  10001.125       N
13  def    10034       ghi  def  NaN   9952.0   jkl  10002.000       N
14  abc     9946       jkl  NaN  jkl  10027.0   mno  10014.000       N
15  NaN     9986            mno  abc  10019.0   pqr   9989.000       Y
16  ghi        B       def  jkl       10015.0   NaN  10043.000       N
17  mno     9976       def  abc  mno  10007.0   jkl  10025.000       N
18  def     9964       jkl  abc  mno   9973.0   mno  10008.000       Y
19           NaN       abc  abc  ghi  10036.0   def   9960.000       6

In [255]:
# Yes, No columns cannot contain numbers
# NaN is OK as we can get rid of it in a second step plus certain functions like mean()
# will ignore it.  coerce means convert to NaN on error

df['income'] = df['income'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

df['income']

0        9974.0
1        9964.0
2        9993.0
3       10051.0
4       10026.0
5        9951.0
6           NaN
7       10006.0
8       10022.0
9           NaN
10      10008.0
11       9989.0
12    1000000.0
13      10034.0
14       9946.0
15       9986.0
16          NaN
17       9976.0
18       9964.0
19          NaN
Name: income, dtype: float64

In [256]:
# drop outliers, too many standard deviations away


mean = df['income'].mean()
std_dev = df['income'].std()

# Define threshold for outliers (e.g., values more than 2 standard deviations away from the mean)
threshold = 2

df.loc[(df['income'] - mean) > 2 * std_dev]

   name     income education age city  id email     salary citizen
12       1000000.0       mno      abc NaN   jkl  10001.125       N

In [257]:
df.drop(df.loc[(df['income'] - mean) > 2 * std_dev].index, inplace=True)

df

   name   income education  age city       id email     salary citizen
0   def   9974.0       def  pqr  abc   9956.0   NaN   9995.000       Y
1   ghi   9964.0       mno  NaN  pqr   9988.0   def   9990.000       Y
2   abc   9993.0       abc  pqr  pqr   9994.0   jkl  10001.125       N
3   mno  10051.0       NaN            10005.0   NaN  10027.000       N
4   NaN  10026.0       pqr  jkl  mno  10038.0   pqr   9968.000       Y
5   def   9951.0            mno  NaN  10003.0   NaN  10001.125       Y
6   def      NaN       jkl  NaN  pqr  10021.0   abc   9992.000       N
7   NaN  10006.0       pqr  mno  pqr  10007.0   pqr   9980.000       N
8   jkl  10022.0       NaN  jkl       10013.0   abc   9989.000       3
9   mno      NaN       pqr  ghi  abc      NaN   pqr  10028.000       N
10  NaN  10008.0       def  mno  abc      NaN   jkl  10001.125       N
11  NaN   9989.0       pqr  def  abc   9946.0   NaN  10008.000       Y
13  def  10034.0       ghi  def  NaN   9952.0   jkl  10002.000       N
14  abc   9946.0       jkl  NaN  jkl  10027.0   mno  10014.000       N
15  NaN   9986.0            mno  abc  10019.0   pqr   9989.000       Y
16  ghi      NaN       def  jkl       10015.0   NaN  10043.000       N
17  mno   9976.0       def  abc  mno  10007.0   jkl  10025.000       N
18  def   9964.0       jkl  abc  mno   9973.0   mno  10008.000       Y
19           NaN       abc  abc  ghi  10036.0   def   9960.000       6

In [258]:
# drop all numbers in Yes/No answer

df['citizen'] = df['citizen'].apply(lambda x: x if isinstance(x,str) else np.NaN)
df['citizen']

0       Y
1       Y
2       N
3       N
4       Y
5       Y
6       N
7       N
8     NaN
9       N
10      N
11      Y
13      N
14      N
15      Y
16      N
17      N
18      Y
19    NaN
Name: citizen, dtype: object

In [259]:
df

   name   income education  age city       id email     salary citizen
0   def   9974.0       def  pqr  abc   9956.0   NaN   9995.000       Y
1   ghi   9964.0       mno  NaN  pqr   9988.0   def   9990.000       Y
2   abc   9993.0       abc  pqr  pqr   9994.0   jkl  10001.125       N
3   mno  10051.0       NaN            10005.0   NaN  10027.000       N
4   NaN  10026.0       pqr  jkl  mno  10038.0   pqr   9968.000       Y
5   def   9951.0            mno  NaN  10003.0   NaN  10001.125       Y
6   def      NaN       jkl  NaN  pqr  10021.0   abc   9992.000       N
7   NaN  10006.0       pqr  mno  pqr  10007.0   pqr   9980.000       N
8   jkl  10022.0       NaN  jkl       10013.0   abc   9989.000     NaN
9   mno      NaN       pqr  ghi  abc      NaN   pqr  10028.000       N
10  NaN  10008.0       def  mno  abc      NaN   jkl  10001.125       N
11  NaN   9989.0       pqr  def  abc   9946.0   NaN  10008.000       Y
13  def  10034.0       ghi  def  NaN   9952.0   jkl  10002.000       N
14  abc   9946.0       jkl  NaN  jkl  10027.0   mno  10014.000       N
15  NaN   9986.0            mno  abc  10019.0   pqr   9989.000       Y
16  ghi      NaN       def  jkl       10015.0   NaN  10043.000       N
17  mno   9976.0       def  abc  mno  10007.0   jkl  10025.000       N
18  def   9964.0       jkl  abc  mno   9973.0   mno  10008.000       Y
19           NaN       abc  abc  ghi  10036.0   def   9960.000     NaN

In [260]:
df.dropna(how='any', inplace=True)
df

   name  income education  age city       id email     salary citizen
2   abc  9993.0       abc  pqr  pqr   9994.0   jkl  10001.125       N
17  mno  9976.0       def  abc  mno  10007.0   jkl  10025.000       N
18  def  9964.0       jkl  abc  mno   9973.0   mno  10008.000       Y

In [264]:


def toUpper(s):
    if isinstance(s,str):
      return s.upper()


df['city']=df['city'].apply(toUpper)
df

   name  income education  age city       id email     salary citizen
2   abc  9993.0       abc  pqr  PQR   9994.0   jkl  10001.125       N
17  mno  9976.0       def  abc  MNO  10007.0   jkl  10025.000       N
18  def  9964.0       jkl  abc  MNO   9973.0   mno  10008.000       Y

In [262]:
# axis = 1 means row
# axis = 0 means column

def wholeRow(row):
  if isinstance(row['city'],str):
     row['city'] = row['city'].lower()
     return row


df=df.apply(wholeRow, axis=1)
df

   name  income education  age city       id email     salary citizen
2   abc  9993.0       abc  pqr  pqr   9994.0   jkl  10001.125       N
17  mno  9976.0       def  abc  mno  10007.0   jkl  10025.000       N
18  def  9964.0       jkl  abc  mno   9973.0   mno  10008.000       Y

In [263]:
df

   name  income education  age city       id email     salary citizen
2   abc  9993.0       abc  pqr  pqr   9994.0   jkl  10001.125       N
17  mno  9976.0       def  abc  mno  10007.0   jkl  10025.000       N
18  def  9964.0       jkl  abc  mno   9973.0   mno  10008.000       Y