<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/30_june_2023_list_comprehensions_lambda_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda functions, list comprehensions, and map functions

In [ ]:
def square(x):
  return x^x

In [ ]:
#lambda or anonymous

sq=lambda x: x**x

print(sq(2))

4

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

# a list comprehension makes a new list

print([x for x in fruits])

print([x for x in fruits if len(x)==4])

print([x.upper() for x in fruits if 'a' in x])

['apple', 'banana', 'cherry', 'kiwi', 'mango']
['kiwi']
['APPLE', 'BANANA', 'MANGO']

In [ ]:
sq=lambda x: x**x

In [ ]:
numbers = [1,2,3,4,5]

# a list comprehension makes a new list

print([sq(x) for x in numbers])

[1, 4, 27, 256, 3125]

# Map function

**map** funs a function over every item in a list.

The format is:

```python
map(functionName,listName)

In [1]:


cars=["porche", "audi", "tesla"]

def addToList(car):
  return car.upper()

# addCar creates a map.  It's not something we can easily read so (see next step)

addCar=map(addToList,cars)

# convert the map object to a list

print(list(addCar))

['PORCHE', 'AUDI', 'TESLA']