<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/december_8_2023_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# a python list is just a list of things separated by a comma

numbers = [1,2,3,4,5]

names = ["sasha", "walker"]

In [2]:
print(numbers)

[1, 2, 3, 4, 5]

In [4]:
# how can I add another numbers

numbers.append(6)

In [5]:
# if I write numbers without saying print(numbers) it will print.

# if that is the last statement in this box.  this box is called a cell

numbers

[1, 2, 3, 4, 5, 6]

In [6]:
print(numbers)

[1, 2, 3, 4, 5, 6]

In [7]:
names.append("fred")
print(names)

['sasha', 'walker', 'fred']

In [8]:
# how do you you print the first item in a list

names[0]

'sasha'

In [9]:
names[1]

'walker'

In [11]:
# how can we know how many names are in a list?  we use the len() function

print("names has this many names:", len(names))

names has this many names: 3

In [12]:
# loops.  a loop means to go over or process or print every item in a list.

# two ways to do it:


for name in names:
  print(name)

sasha
walker
fred

In [13]:
# so silly means create a new variable for each item in the list

for silly in names:
  print(silly)

sasha
walker
fred

In [17]:
# we need something to create numbers.  we use the range() function

for i in range(3):
  print(i)

0
1
2

In [15]:
# there is one more way to loop which is using the range object

for i in range(3):
  print("the number:",  i)
  print("the items at index ", i, " is ", names[i])

the number: 0
the items at index  0  is  sasha
the number: 1
the items at index  1  is  walker
the number: 2
the items at index  2  is  fred

In [18]:
names[1]

'walker'

In [20]:
# above we hard-coded the number 3.  what we should do is not hard-code.  but use the len() function

for i in range(len(names)):
  print(i)

0
1
2

#Home


1. Make a list of 5 items.  Call it things
2. use the append() function to add 1 more item
3. loop through and print each item using the range(6) function, range(len(things)), for the other way: for t in things ....