<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/November_2_2023_dates_and_times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dates and Times

How do you find out what is 12 days from March 12, 2024?  You convert all dates in computers to numbers.  This is necessary so that you can do date math.   

Before we explain how to do that, it is necessary to give some definitions about dates.


##epoch time
Is the number of seconds since January 1, 1970, 00:00:00.  There is no reason they picked that date, thus just needed to pick some date and the 1970s is when medium and small sized computers became available for regular people, meaning not just government and business.  I believe it is probably related to when UNIX was invented (Mac, Android, Linux, and Ubuntu all come from UNIX.)

Calculate epoch time:

```python
import time
time.time()
```

##UTC Time and Time Zones
Is also called **Greenwich Mean Time**.  So that people living all over the world can talk about time they need a common reference point.  Greenwich in England was picked for this. All time around the world is relative to that point.  The offset from that point is called a **time zone**.  

If you go East one hour from Greenwich then you enter the time zone UTC+1.  If you go west one hour that is UTC-1.

Time zone names do not always follow the division of the globe into 24 equal sized slices where the time there is the same.

Instead there are also political considerations.  For example, you can roughly say that Western Europe is at UTC+1.  And Eastern Europe is UTC+2.  Cyprus is in UTC+2.

A country or region might change its time zone boundaries so that not one piece of the country is in a differene time zone than the rest of the country.  Plus many, but not all countries, change the time by one hour twice per year as the season changes.  This is to (1) save electricity, (2) not have children going to school in the dark, and (3) other.

Common time zone names include **Eastern European Time**, **Pacific Time** (roughly California), **Greek Summer Time**, **Eastern Daylight Savings Time** (roughly New York).

Here is the current UTC time, which would be the same as saying the current time in Greenwich, England.

```python
from datetime import datetime, timezone
datetime.now(timezone.utc)
```
Here is how to list all time zone names.  Note that there are hundreds of names.   

```python
import pytz

pytz.all_timezones

````

#ISO Date
The ISO is an organization that sets standards for things like dates, times, and many things in business and engineering.  In computers, the most common time format is called ISO 8601.  This is **year-month-day time and then timezone offset give in minute and seconds**.

India Standard Time, for example, is 5.5 hours ahead of UTC, so the time zone offset must allow minutes.  

2023-11-02T14:30:00+00:00

```python
d=date.today()
d.isoformat()
```

In [2]:
#Epoch time

# is the number of seconds since 1970/01/01 00:00:00

# need to use an external python package.  so you put import

import time
time.time()

1699977932.7307076

In [3]:
# UTC time

# sometimes you need a date, sometimes you need a time, and sometimes you need both

# datetime:  datetime, date, and time


from datetime import datetime, timezone


datetime.now(timezone.utc)

datetime.datetime(2023, 11, 14, 16, 7, 1, 209498, tzinfo=datetime.timezone.utc)

In [4]:
datetime.now()

datetime.datetime(2023, 11, 14, 16, 7, 43, 719721)

Below, we get the Current date.  

Defaults to your time zone, meaning the time which is on your computer, which should be where you are located.  

**Note**:  If you rent a cloud server from Amazon or someone else note that the time there might not be the time where you are located.  That could be many timezones away.

In [7]:
# here we only want date


from datetime import date


print(date.today())
print(date.today().strftime('%a, %d-%b-%Y'))

2023-11-14
Tue, 14-Nov-2023

Here is how to create a date using the date constructor.

Now that there is a **datetime** Python package that includes both **date**, **time**, and **dateime** objects.

In [16]:
# datetime.datetime(2023, 11, 14, 16, 7, 43, 719721)

# that is not something easy to read

# so we use strftime function which means convert dates and times to a string


# here we tell the computer what date we want to create

# so use use the date object constructor

# we put date(day=10, month=3, year=2023)

# date.today()


someday = date(day=10, month=3, year=2023)

print(someday.strftime('%m/%d/%y'))

print("======================================")

print(someday.strftime('%a %A %w %d %b %B %m %y %Y %H %I %p %M %S %f %Z %z %j %U %W %c %X %x'))

03/10/23
======================================
Fri Friday 5 10 Mar March 03 23 2023 00 12 AM 00 00 000000   069 10 10 Fri Mar 10 00:00:00 2023 00:00:00 03/10/23

Here we want to create a date and time, thus we use the **datetime** object instead of just date or time.

In [ ]:
import datetime

datetime.datetime(day=10, month=3, year=2023, hour=12, minute=10, second=40)

datetime.datetime(2023, 3, 10, 12, 10, 40)

Here we get the current date and time.  Then we add 14 days, 14 hours, 14 minutes, and 14 seconds to it.  We use the **timedelta** object for that.  The word **delta** is a Greek word that is used in math to mean **change**.  It is represented by this symbol (Δ).

In [ ]:
import datetime

current_datetime = datetime.datetime.now()

formatted_datetime = current_datetime.strftime("%d-%m-%y %H:%M:%S")
print("date and time now:", formatted_datetime)


delta = datetime.timedelta(days=14, hours=14, minutes=14, seconds=14)
updated_datetime = current_datetime + delta

formatted_updated_datetime = updated_datetime.strftime("%d-%m %H:%M:%S")
print("new date with time added", formatted_updated_datetime)

date and time now: 02-11-23 07:40:11
new date with time added 16-11 21:54:25

Here we format the current date into ISO format.

In [ ]:
d=date.today()
print(d.isoformat())

2023-11-02

Print date in year-month-day format.

In [ ]:
d.strftime('%Y-%h-%d')

'2023-Nov-02'

### Formating Dates

Here is the complete list of and time formatting codes.  For example, you can see that %A means write the complete name of the day and not the abbreviated name. %x means print it according to the [locale](https://github.com/werowe/HypatiaAcademy/blob/master/basics/Localization.ipynb).

In [ ]:
d.strftime('%a %A %w %d %b %B %m %y %Y %H %I %p %M %S %f %Z %z %j %U %W %c %X %x')

'Thu Thursday 4 02 Nov November 11 23 2023 00 12 AM 00 00 000000   306 44 44 Thu Nov  2 00:00:00 2023 00:00:00 11/02/23'

Go forward in time one week.

In [ ]:

from datetime import timedelta
oneWeek=timedelta(days=7,hours=0, minutes=0, seconds=0, microseconds=0)
d=date.today()+oneWeek
print(d.isoformat())

2023-11-09

In [20]:
from datetime import timedelta


simera=datetime.now()
print(simera)

tendays=timedelta(days=10,minutes=10)

print("ten days from now is ", simera + tendays)

2023-11-14 16:18:07.474592
ten days from now is  2023-11-24 16:28:07.474592

Go back in time one week.

In [ ]:

from datetime import timedelta
oneWeek=timedelta(days=-7,hours=0, minutes=0, seconds=0, microseconds=0)
d=date.today()+oneWeek
print(d.isoformat())

2023-10-26

#Homework

add 10 days, 10 hours, 10 minutes, 10 seconds to

january 3, 1982 16:41:32