<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/November_2_2023_dates_and_times.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dates and Times

How do you find out what is 12 days from March 12, 2024?  This is necessary so that you can do date math.   

Before we explain that it is necessary to give some definitions about dates.


##epoch time
Is the number of seconds since this date, which is called January 1, 1970, 00:00:00.

```python
import time
time.time()
```

##UTC Time and Time Zones
Is also called **Greenwich Mean Time**.  So that people living all over the world can talk about time they need a point at which time will be zero.  Greenwich in England was picked for this.   

If you go East one hour from Greenwich then you enter the **time zone** UTC+1.  If you go west one hour that is UTC-1.

Time zones do not always follow the division of the globe into 24 equal sized slices where the time there is the same.  Instead they follow political division in addition to how far away the location is from Greenwich.  For example, you can roughly say that Western Europe is at UTC+1.  And Eastern Europe is UTC+2.  Like Cyprus is in UTC+2.

Common time zone names include **Eastern European Time**, **Pacific Time** (roughly California).  

```python
from datetime import datetime, timezone
datetime.now(timezone.utc)
```
Here is how to list all time zone names.   

```python
import pytz

pytz.all_timezones

````

#ISO Date
The ISO is an organization that sets standards for things like dates, times, and many things in business and engineering.  In computers, the most common time format is called ISO 8601.  This is year-month-day time and then timezone offset give in minute and seconds. (India, for example, havs one timezone that is 30 minutes different from the previous and not one hour, so the offset cannot always be a whole number.)

2023-11-02T14:30:00+00:00

```python
d=date.today()
d.isoformat()
```

In [22]:
#Epoch time

import time
time.time()

1698908479.6292245

In [23]:
# UTC time

from datetime import datetime, timezone
datetime.now(timezone.utc)

datetime.datetime(2023, 11, 2, 7, 1, 20, 25400, tzinfo=datetime.timezone.utc)

In [24]:
from datetime import date


print(date.today())

2023-11-02

Here is how to create a date using the date constructor.

Now that there is a datetime Python package that includes both   date, time, and datime objects.

In [25]:

someday = date(day=10, month=3, year=2023)

print(someday.strftime('%a, %d-%b-%Y'))

Fri, 10-Mar-2023

Here we want to create a date and time, thus we use the datetime object instead of just date or time.

In [26]:
import datetime

datetime.datetime(day=10, month=3, year=2023, hour=12, minute=10, second=40)

datetime.datetime(2023, 3, 10, 12, 10, 40)

Here we get the current date and time.  Then we add 14 days, 14 hours, 14 minutes, and 14 seconds to it.

In [27]:
import datetime

current_datetime = datetime.datetime.now()

formatted_datetime = current_datetime.strftime("%d-%m-%y %H:%M:%S")
print("date and time now:", formatted_datetime)


delta = datetime.timedelta(days=14, hours=14, minutes=14, seconds=14)
updated_datetime = current_datetime + delta

formatted_updated_datetime = updated_datetime.strftime("%d-%m %H:%M:%S")
print("date and time with extra time:", formatted_updated_datetime)

date and time now: 02-11-23 07:01:20
date and time with extra time: 16-11 21:15:34

Here we format the current date into ISO format.

In [28]:
d=date.today()
print(d.isoformat())

2023-11-02

Print date in year-month-day format.

In [29]:
d.strftime('%Y-%h-%d')

'2023-Nov-02'

### Formating Dates

Here is the complete list of and time formatting codes.  For example, you can see that %A means write the complete name of the day and not the abbreviated name. %x means print it according to the [locale](https://github.com/werowe/HypatiaAcademy/blob/master/basics/Localization.ipynb).

In [30]:
d.strftime('%a %A %w %d %b %B %m %y %Y %H %I %p %M %S %f %Z %z %j %U %W %c %X %x')

'Thu Thursday 4 02 Nov November 11 23 2023 00 12 AM 00 00 000000   306 44 44 Thu Nov  2 00:00:00 2023 00:00:00 11/02/23'

Go forward in time one week.

In [31]:

from datetime import timedelta
oneWeek=timedelta(days=7,hours=0, minutes=0, seconds=0, microseconds=0)
d=date.today()+oneWeek
print(d.isoformat())

2023-11-09

Go back in time one week.

In [32]:

from datetime import timedelta
oneWeek=timedelta(days=-7,hours=0, minutes=0, seconds=0, microseconds=0)
d=date.today()+oneWeek
print(d.isoformat())

2023-10-26