<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/november_3_2023_python_introductions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# variables

# this means put the value 3 into x

x=3
print(x)


# loops

for i in range(5):
  print(i)

#peter

# logic

#if (3>2):
# do something

3
0
1
2
3
4

In [7]:
 # operators

 # addition

print("3+2=", 3+2)


 # multiplication

 # it prints the last thing in the cell

print("oleksii says 3*2=", 3 * 2)

3+2= 5
oleksii says 3*2= 6

In [9]:
# division

6 / 2


# multiplication

6*2

12

In [10]:
# exponent

2**2

4

In [11]:
import math

math.sqrt(16)

4.0

In [15]:
# data types

# integer

a=2

# math: decimal number computers: floating point

b=2.5


#print(a*b)

c=a*b

print(c, type(c))

print(a, type(a))

5.0 <class 'float'>
2 <class 'int'>

In [18]:
# letters we call charactes or strings

f="fred"

print(f,type(f))

fred <class 'str'>

In [20]:
# you can combine strings.  this is called concatenation

p="peter"

o="oleksandr"

p+ " " + o

'peter oleksandr'

In [21]:
# parantheses are used to tell the computer where something starts and where it stops

# functions are things that do useful things.  like upper() makes all letters capital



(p+ " " + o).upper()

'PETER OLEKSANDR'

In [ ]:
# homework


#print 3 + 4

#print any two names like I did peter and oleksandr