<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/November_7_2023_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# review


# addition

3+4

# division

3 / 4


# multiplication, asterisk

3 * 4


x="Oleksii"

print(x)

# subtraction

3 - 4

Oleksii

In [6]:
# data types

# integer 0, 1 , 2, 3 , 4 , 5
# also -4, -3 , -2 , -1

a=1

print("a=", a)


print("twice 2 =", a * 2)

print("what types is a", a, type(a))

a= 1
twice 2 = 2
what types is a 1 <class 'int'>

In [8]:
# floating point numbers are called decimal numbers in math class

b=3.5

type(3.5)


print("5/3=", 5/3, " what data type is it? ", type( 5 / 3))

5/3= 1.6666666666666667  what data type is it?  <class 'float'>

In [12]:
from re import T
# boolean

# is logic

f=False
t=True


3 > 2

g=3 > 2

print(g)


# double equal sign mean like a==b means test if a is equal to b


4==4

type(4==4)

True

bool

In [16]:
# strings also known as characters or text

w="walker"

o="oleksander"


# adding two strings is called concatenation


print(w+ " " + o)

print("how many letters are in Oleksander", len(o))

walker oleksander
how many letters are in Oleksander 10

In [19]:
# this is a math function
# algebra

# f(x)=2 * x

# a function takes some input and creates an output

# f(2)= 2 * 2 = 4

# to make a python function use the word def, which means define function

# use () parantheses which are the value that goes in

# use return which is the value that comes out


def f(x):
  return 2 * x


# this took the value 2 and sent it into the function f which returned 2 * 2

f(2)

4


# Homework

* Write a function to mutiply a number by 3

* Write a function to add 3 to a number