<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/october_31_2023_data_types_operators_if_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# data types

# operators

# if

# == test

In [3]:
# integer 1,2,3,0,-1,-2

i=1

print(i, type(i))

1 <class 'int'>

In [4]:
# floating point numbers are the same as decimal numbers

# 3.27

j=3.27

print(j, type(j))

3.27 <class 'float'>

In [5]:
# a string is just text

students = "oleksandr-ilias"

print(students, type(students))

oleksandr-ilias <class 'str'>

In [8]:
d="123"

print(d, type(d))

e=int(d)

print(e, type(e))

123 <class 'str'>
123 <class 'int'>

In [10]:
f="12.47"

# use the float function to convert to a floating point number

# in 12.47 the decimal point is the dot (.).  they call it floating point number
g=float(f)
print(g, type(g))

12.47 <class 'float'>

In [13]:

i=17

# put if
# but some statement inside parantheses ()
# put color (:) at the end
# on the next line you put two, space, which we can call indent

if (i>13):
  print("ilias is teenger")


# it's on the left, no spaces in front.  so it's another atatement

print("something else")

ilias is teenger
something else

In [15]:
o=8

# see if o < 10
if (o < 10):
  print("o is child")
# do this is o is not < 10
else:
  print("o is older than a child")


if (o < 10):
  print("other way o is < 10")

if (o > 10):
  print("o is > 10")

# == means test, that means check see if something is true
if (o == 10):
  print("o is > 10")

o is child

In [19]:
o=10

# check if is o is 10
o == 10

# check if o is bigger than OR equal to 10

o >= 10

True

In [22]:
# data type is boolean

t=True

f=False

print(t, type(t))
print(f, type(f))

True <class 'bool'>
False <class 'bool'>

In [23]:
# here we change o

# here we assign the value 8 to o

o=8

# double equal tests whether something is true

if (o == 8):
  print("o is equal 8")

o==8

o is equal 8

True

In [26]:
# boolean is something that is true or false

print(o, "check equals", o==8, " show type of data", type(o==8))

8 check equals True  show type of data <class 'bool'>

In [24]:
-1 > -2

True

In [25]:
(1==1==1)

True

In [ ]:
# homework

# tell me whether each of these it true of false

f=4

# true or false
f==4

f>-4


# what will this say?

type(f>-4)