<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/october_24_2023_exam_questions_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:

print(4*3/3)




print((4*3)/3)

print(4*(3/3))

4.0
4.0
4.0

In [2]:
print(5*7/5)

print((5*7)/5)

print(5*(7/5))

7.0
7.0
7.0

In [3]:
#. homework

# extra credit

# which is not all of this 8?


print(4-3+7)

print((4-3)+7)

print(4-(3+7))

8
8
-6

In [4]:
# unary operator will operator on itself so it does not matter


print(3*2**2)


#wrong one

print((3*2)**2)

# oleksi

print(3*(2**2))

12
36
12

In [ ]:
# this will go left to right

(1 < 2) and (4 < 8)

1.  is 1 < 2
2. is 4 < 8
3.  is 1. and 2. true

In [7]:
print(2 ** 3 ** 2 ** 1)


print(2**9)

1.  2**1=2

2.  3**2=9

3.  2**9







'''
A. invalid (not this one)
B. equal to 16
C. equal to 16.0
D. equal to 512
E. equal to 64
F. equal to 128.0
'''

512
512

'\nA. invalid (not this one)\nB. equal to 16\nC. equal to 16.0\nD. equal to 512\nE. equal to 64\nF. equal to 128.0\n'

In [ ]:
'''

1'. Parentheses ( )
2. Exponentiation (^, **, etc.)
? Multiplication (*) and Division (/)
? Addition (+) and Subtraction (-)
4.Comparison Operators (<, >, <=, >=, ==, !=)
5.Logical Operators (&&, ||, !)
Assignment Operators (=, +=, -=, etc.)
Ternary Conditional Operator (?:)
Comma Operator (,)

'''

In [10]:

'''
If you want to build a string that reads:
Peter's sister's name's "Anna"

which of the following literals would you use? (Select all that apply)
A. "Peter's sister's name's \"Anna\""
B. 'Peter\'s sister\'s name\'s \"Anna\"'
C. "Peter's sister's name's "Anna""
D. 'Peter's sister's name's "Anna"

'''

# escape means ignore that as a character it has a special meanings


"olek\"si"

print("olek\ns\ti")

olek
s	i

In [ ]:
'''


What is the expected output of the following snippet?

i = 250
while len(str(i)) > 72:
 i *= 2
else:
 i //= 2
print(i)


A. 125
B. 250
C. 72
D. 500

'''


i *= 2

i = i * 2


#. // has a special meaning in python