<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/october_3_2023_print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# print is a command


# not correct
#(print 1+3)

# should be like this:

print(1+3)


print("3*4")


print("3 times 4 is ", 3*4)

4
3*4
3 times 4 is  12

In [6]:
print("ilias calcultes this", 3*4)

12

In [10]:
print("my name is ilias I am this old", 13)
print(13)

my name is ilias I am this old 13
13

In [11]:
# this puts the number 13 in the variable age

age=13

print("my name is ilias I am this old", age)

my name is ilias I am this old 13

In [12]:
silly=13

print("my name is ilias I am this old", silly)

my name is ilias I am this old 13

In [14]:
# division is math books uses this symbol รท

# that's hard to read and it's not on the keyboard

# so computers use /

print("3 divided by 2=", 3/2)

3 divided by 2= 1.5

In [16]:
# there are three ways to print stuff

# first is commas

print("a", "b", "c")

# second is plus sign. plus is called concatenation in computers

print("a"+"b"+"c")

# then there is formatted output.  this is for dates, money, and it's shorter

print("%s %s %s" % ( "a", "b", "c"))

a b c
abc
a b c