<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/october_6_2023_lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# this is a list. a list has brackets []

family = ["nina", "ilias", "raphael", "mari", "george"]

print(family)

['nina', 'ilias', 'raphael', 'mari', 'george']

In [20]:
numbers=[1,2,3]
print(numbers)

[1, 2, 3]

In [21]:
# the first item in a list starts with 0

numbers[0]

1

In [22]:
# use

print(len(numbers))

3

In [6]:
print("first item in list", family[0])
print("second item in list", family[1])
print("last item in list", family[4])

first item in list nina
second item in list ilias
lasy item in list george

In [27]:
# loop means do something until you are finished

# this one has no range
# this just means print everything in the list

# to print one at a time we have to make a loop

for i in family:
  print(i)

nina
ilias
raphael
mari
george
bobbie
fred

In [29]:
# this prints the list

print(numbers)

# this prints each item in the list, one at a time

for n in numbers:
  print(n)

[1, 2, 3]
1
2
3

In [9]:
# this I showed you just to example how a loop works

# but we would not use this.  use range(5) instead

count = [0,1,2,3,4]


for i in count:
  print("counter is ", i, " which is item ", family[i])

counter is  0  which is item  nina
counter is  1  which is item  ilias
counter is  2  which is item  raphael
counter is  3  which is item  mari
counter is  4  which is item  george

In [12]:
family.append("bobbie")
print(family)

['nina', 'ilias', 'raphael', 'mari', 'george', 'bobbie']

In [25]:
# rule: don't hard-code .  that's like this.  we put 5 that's hard-code

# use 'for' to make a loop
# we can say 'range' to tell it how many times to run

for i in range(5):
  print("counter is ", i, " which is item ", family[i])

counter is  0  which is item  nina
counter is  1  which is item  ilias
counter is  2  which is item  raphael
counter is  3  which is item  mari
counter is  4  which is item  george

In [24]:
len(family)

7

In [18]:
len(family)

7

In [17]:
family

['nina', 'ilias', 'raphael', 'mari', 'george', 'bobbie', 'fred']

In [16]:
family.append("fred")

In [19]:


for i in range(len(family)):
  print("counter is ", i, " which is item ", family[i])

counter is  0  which is item  nina
counter is  1  which is item  ilias
counter is  2  which is item  raphael
counter is  3  which is item  mari
counter is  4  which is item  george
counter is  5  which is item  bobbie
counter is  6  which is item  fred

In [ ]:
'''
homework:

make a list of everyone on your basketball team

print the list using a for loop

print the list using a for loop with the len() and range() like I did above



'''