<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/september_22_2023_create%3Dstring_functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# homework

# write the string function left()

# if we put find("walker is teacher",6)

# it will print "walker"

# this function will have two arguments:  (1) the string and (2) how many letters to print


"walker is teacher"[0:6]


#homework hint


def lastLetter(str):

  return str[-1:]

lastLetter("walker")

'walker'

In [4]:
# a function takes some input and returns some output

# argumemnt what goes it

# return means what comes out

def double(argument):

  # the spaces means inside function

  return argument * 2


# remove spaces and we are outsied the function


# in some programming languages they use {}

# function {
 # inside

#}

In [5]:
# double is the name of the function
# 3 is the argument

# to use it put double(3)

double(3)

6

In [7]:
def upcase(string):

  return string.upper()


upcase("cyprus")

'CYPRUS'

In [10]:
def f(a,b):

  return a,b


# named arguments


f(a=2,b=3)


# no name means just put in order, first is a second is b

f(2,3)

(2, 3)