<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/september_29_2023_dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [50]:
'''

make a list of dictionary objects

print each object

print each dictionary

'''


# empty dictionary

d={}

# empty list

l={}


# a dictionary is key-value pairs

students=["Lika", "Anna"]

students[0]

lika = {
      "name": "Lika",
      "age": 16
}

anna = {
      "name": "anna",
      "age": 14
}

print(lika)
print(anna)

print("==============================")

# here are three ways to print name and age

print("The student" , anna['name'] , "is" , anna["age"] , "years old")

print("The student " + anna['name'] + " is " + str(anna["age"]) + " years old")

print("The student %s is %i years old" % (anna['name'], anna["age"]))

{'name': 'Lika', 'age': 16}
{'name': 'anna', 'age': 14}
==============================
The student anna is 14 years old
The student anna is 14 years old
The student anna is 14 years old

In [55]:
anna['languages'] = ['en', 'uk', 'gr', 'ru']

print(anna)

print("The student %s knows %i languages" % (anna['name'], len(anna['languages'])))

{'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}
The student anna knows 4 languages

In [52]:
 # make an empty list then add two objects to it

lika['languages']=['en','ru','ge']

# list
students=[]

#set
#students={}


students.append(lika)
students.append(anna)
print(students)

[{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}, {'name': 'anna', 'age': 14}]

In [36]:
students.append(lika)

for s in students:
  print(s)

{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}

In [39]:
s={}

type(s)

s={"a","b","c"}
s.add("d")

print(s)


n={1,1,1,1,1,1}

print(n)

a={1,2,3}
b={3,4,5}

a.intersection(b)
a.union(b)

{'b', 'c', 'a', 'd'}
{1}

{1, 2, 3, 4, 5}

In [42]:
d={5,4,3}

print(d)

{3, 4, 5}

In [41]:
# why did it print b,c,a


c={"c","b","a"}
print(c)

{'b', 'c', 'a'}

In [45]:



print("keys ", anna.keys())
print("values ", anna.values())

keys  dict_keys(['name', 'age', 'languages'])
values  dict_values(['anna', 14, ['en', 'uk', 'gr', 'ru']])

In [47]:
for key,value in anna.items():
  print(key,":",value)


for key,value in lika.items():
  print(key,":",value)

name : anna
age : 14
languages : ['en', 'uk', 'gr', 'ru']
name : Lika
age : 16
languages : ['en', 'ru', 'ge']

In [56]:
for s in students:
  for key,value in s.items():
    print(key,":",value)
  print("=========")

name : Lika
age : 16
languages : ['en', 'ru', 'ge']
=========
name : anna
age : 14
languages : ['en', 'uk', 'gr', 'ru']
=========

In [68]:
from IPython.core.formatters import Dict
'''

we created a dictionary

showed how to add keys to a dictionary

e={"key":"value"}
e['somethingNew]="blah blah

we showed how to use sets

sets don't allow duplicates

s={}

you use the s.add()

to add an item to a set

we added dictionary to a list

l=[]

use l.append() to add items to a list


homework:

print anns and lika but print the languages using a loop

remember lika['languages'] is a list

hint:

in the loop above check each key if the type is list then use for i in xxxx to print the languages

type(lika['languages'])



'''


isinstance(lika['languages'],list)


isinstance(lika,dict)

True