<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/class/september_29_2023_dictionaries_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
'''

make a list of dictionary objects

print each object

print each dictionary

'''


# empty dictionary

# constructor makes an empty object

d={}

# empty list

l=[]

# set
s={}


# a dictionary is key-value pairs

students=["Lika", "Anna"]

students[0]

# json
# javascript object notation


lika = {
      "name": "Lika",
      "age": 16
}

anna = {
      "name": "anna",
      "age": 14
}

print(lika)
print(anna)

print("==============================")

# here are three ways to print name and age

print("The student" , anna['name'] , "is" , anna["age"] , "years old")

print("The student " + anna['name'] + " is " + str(anna["age"]) + " years old")

print("The student %s is %i years old" % (anna['name'], anna["age"]))

{'name': 'Lika', 'age': 16}
{'name': 'anna', 'age': 14}
==============================
The student anna is 14 years old
The student anna is 14 years old
The student anna is 14 years old

In [7]:
print("a","b","c")
print("a "+"b "+"c")
print("%s %s %s" % ("a", "b", "c"))

a b c
a b c
a b c

In [ ]:
# dictionary is key-value pairs

# like :

artem = {
    "name": "artem",
    "pet": "dog",
    "car": "bike"
    }

artem=["dog", "bike"]

In [8]:
# add keys to a dictionary
# make up a name and then write dictionaryObject['whateverName']

anna['languages'] = ['en', 'uk', 'gr', 'ru']

print(anna)

print("The student %s knows %i languages" % (anna['name'], len(anna['languages'])))

{'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}
The student anna knows 4 languages

In [15]:
"the letter is %s" % ("a")
"the number is %i" % (1)

"a decimal number %2.2f" % (3.4)

'a decimal number 3.40'

In [10]:
print(len(anna['languages']))

4

In [16]:
g=[1,2,3,"4"]

In [18]:
 # make an empty list then add two objects to it

lika['languages']=['en','ru','ge']

# list
students=[]

#set
#students={}


students.append(lika)
students.append(anna)
print(students)


for i in students:
  print(i)
  print("========")

[{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}, {'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}]
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
========
{'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}
========

In [22]:
# a constructor initializes an object that means make it empty

#student=[]


students.append(lika)

for s in students:
  print(s)

{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}
{'name': 'Lika', 'age': 16, 'languages': ['en', 'ru', 'ge']}

In [24]:
s={}

type(s)

s={"a","b","c"}
s.add("d")

print(s)


n={1,1,1,1,1,1}

print(n)

a={1,2,3}
b={3,4,5}

print("intersection=", a.intersection(b))
print("union=",a.union(b))

{'d', 'b', 'c', 'a'}
{1}
intersection= {3}
union= {1, 2, 3, 4, 5}

In [23]:
k={1,2,3,3,3,3,3,3}

print(k)

{1, 2, 3}

In [ ]:
d={5,4,3}

print(d)

{3, 4, 5}

In [ ]:
# why did it print b,c,a


c={"c","b","a"}
print(c)

{'b', 'c', 'a'}

In [25]:
anna

{'name': 'anna', 'age': 14, 'languages': ['en', 'uk', 'gr', 'ru']}

In [ ]:


print("keys ", anna.keys())
print("values ", anna.values())

keys  dict_keys(['name', 'age', 'languages'])
values  dict_values(['anna', 14, ['en', 'uk', 'gr', 'ru']])

In [28]:
# items means go get both the keys and the values

# items() is an iterator.  an iterator is anthing you can loop over

for key,value in anna.items():
  print(key,":",value)

print("============\n\n")

for key,value in lika.items():
  print(key,":",value)

name : anna
age : 14
languages : ['en', 'uk', 'gr', 'ru']
============


name : Lika
age : 16
languages : ['en', 'ru', 'ge']

In [ ]:
# loop within a loop

# for students is list.  lists are iterable
# for keys and values in dictionary item print that

for s in students:
  for key,value in s.items():
    print(key,":",value)
  print("=========")

name : Lika
age : 16
languages : ['en', 'ru', 'ge']
=========
name : anna
age : 14
languages : ['en', 'uk', 'gr', 'ru']
=========

In [ ]:
from IPython.core.formatters import Dict
'''

we created a dictionary

showed how to add keys to a dictionary

e={"key":"value"}
e['somethingNew]="blah blah

we showed how to use sets

sets don't allow duplicates

s={}

you use the s.add()

to add an item to a set

we added dictionary to a list

l=[]

use l.append() to add items to a list


homework:

print anns and lika but print the languages using a loop

remember lika['languages'] is a list

hint:

in the loop above check each key if the type is list then use for i in xxxx to print the languages

type(lika['languages'])



'''


isinstance(lika['languages'],list)


isinstance(lika,dict)

True

In [30]:
for l in lika['languages']:
  print(l)

en
ru
ge

In [32]:
for key,value in anna.items():
  print(key,":",value, type(value))

name : anna <class 'str'>
age : 14 <class 'int'>
languages : ['en', 'uk', 'gr', 'ru'] <class 'list'>

In [35]:
for key,value in anna.items():
  print(key,type(value))
  if type(value)==list:
    for d in value:
      print(d)
  else:
    print(key,":",value)

name <class 'str'>
name : anna
age <class 'int'>
age : 14
languages <class 'list'>
en
uk
gr
ru

In [36]:
for key,value in anna.items():
  print(key,type(value))
  if isinstance(value,list):
    for d in value:
      print(d)
  else:
    print(key,":",value)

name <class 'str'>
name : anna
age <class 'int'>
age : 14
languages <class 'list'>
en
uk
gr
ru