<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/numpy/2024_03_12_numpy_slicing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
l=[1,2,3]
l[0]

1

In [47]:
import numpy as np

a = np.array([[1,2],
     [3,4]])

# it's common convention, the normal way of doing things, standard practice to use

i=0
j=1

for i in [0,1]:
  for j in [0,1]:
    print(a[i,j])


# when we have 2-d arrays we can row and column

# when we have 3-d array we can row, column, and depth

1
2
3
4

In [48]:
# it's common to use the i for index

b = np.array([1,2,3]).astype(np.int8)

for i in [0,1,2]:
  print(b[i])

1
2
3

In [49]:
# in programming you call a single number a scala

type(b[0])


# this is not a regular integer

#. this is a 64 bit integer

numpy.int8

In [50]:
# numpy arrays are mutable, meaning not immutable

x = np.array([1.0,2.0,3.0,4.0,5.0])
x[0]=2

print(x)

[2. 2. 3. 4. 5.]

In [51]:
# strings are immutable
# memory management
# when and object is immutable then you create a new object to show the changed object


s = "tamara"
s[0]="w"

TypeError: 'str' object does not support item assignment

In [ ]:
np.random.randint(1, 64,(8,8))

In [ ]:
# b = np.random.randint(start, stop, how many)

b = np.random.randint(1, 64, 64)

In [ ]:
# I want 8 rows and 8 columns

c=b.reshape(8,8)
print(c)

In [ ]:
# every odd index number in the row

# if we say slice a 2d array like this:

# c[columns from: to +1, rows from to + 1  ]


c[0:2,0:2]

In [ ]:
# c[columns,rows]


# c[0:2] means 1st and 2nd row.  which is index 0 and index 1

# why isn't c[6:8] the 7th and 8th row why don't have to write c[6:9]?

# when we write c[6:8] that is index number not actual number.  so 6 means the 7th item 7 means the 8th item


c[6:8,6:8]

In [ ]:
# : means get all elements c[:,:] along that axis

# how can get all columns on the 2nd row

# c[columns,rows]

c[0:2,:]

In [ ]:
c[0:2,0:8]

In [ ]:
c

In [ ]:
# f=np.array(a,b,(shape))

#a=starting number
#b=ending number
#shape is shape

f=np.random.randint(1,25,(5,5))
print(f)

# linspace

In [ ]:
f[0:2,0:5]


# review

* we learned to do slicing operations on a 1-d and 2-d array

* we learned that when you have a 2-d array then you do slicing like this:

* array name is d


* d[for the columns put from:to +1 , rows put from:to + 1]

* if we have 5 columns how do we write that

* from [0:5]

# homework:


* use randint to create an array of 49 elements
* reshape the array to size 7x7
* select all columns in rowss 3 and 4
* select all rows in columns 3 and 4