<a href="https://colab.research.google.com/github/werowe/HypatiaAcademy/blob/master/numpy/22_december_sklearn_logisticregression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#with this code we get the csv file from github that i uploaded before
!wget https://raw.githubusercontent.com/mumtehaartun/pandas/main/adult.csv

--2023-12-21 08:55:35--  https://raw.githubusercontent.com/mumtehaartun/pandas/main/adult.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5326368 (5.1M) [text/plain]
Saving to: ‘adult.csv’

adult.csv           100%[===================>]   5.08M  --.-KB/s    in 0.08s

2023-12-21 08:55:35 (62.8 MB/s) - ‘adult.csv’ saved [5326368/5326368]

In [2]:
import pandas as pd

#here we give command to read the file and see what we got
df = pd.read_csv('adult.csv')

print(df)

       age     workclass  fnlwgt     education  educational-num  \
0       25       Private  226802          11th                7
1       38       Private   89814       HS-grad                9
2       28     Local-gov  336951    Assoc-acdm               12
3       44       Private  160323  Some-college               10
4       18             ?  103497  Some-college               10
...    ...           ...     ...           ...              ...
48837   27       Private  257302    Assoc-acdm               12
48838   40       Private  154374       HS-grad                9
48839   58       Private  151910       HS-grad                9
48840   22       Private  201490       HS-grad                9
48841   52  Self-emp-inc  287927       HS-grad                9

           marital-status         occupation relationship   race  gender  \
0           Never-married  Machine-op-inspct    Own-child  Black    Male
1      Married-civ-spouse    Farming-fishing      Husband  White    Male
2      Married-civ-spouse    Protective-serv      Husband  White    Male
3      Married-civ-spouse  Machine-op-inspct      Husband  Black    Male
4           Never-married                  ?    Own-child  White  Female
...                   ...                ...          ...    ...     ...
48837  Married-civ-spouse       Tech-support         Wife  White  Female
48838  Married-civ-spouse  Machine-op-inspct      Husband  White    Male
48839             Widowed       Adm-clerical    Unmarried  White  Female
48840       Never-married       Adm-clerical    Own-child  White    Male
48841  Married-civ-spouse    Exec-managerial         Wife  White  Female

       capital-gain  capital-loss  hours-per-week native-country income
0                 0             0              40  United-States  <=50K
1                 0             0              50  United-States  <=50K
2                 0             0              40  United-States   >50K
3              7688             0              40  United-States   >50K
4                 0             0              30  United-States  <=50K
...             ...           ...             ...            ...    ...
48837             0             0              38  United-States  <=50K
48838             0             0              40  United-States   >50K
48839             0             0              40  United-States  <=50K
48840             0             0              20  United-States  <=50K
48841         15024             0              40  United-States   >50K

[48842 rows x 15 columns]

In [3]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder

# Assuming 'df' is your DataFrame and the columns you want to encode are 'workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country'
categorical_columns = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race', 'gender', 'native-country']

# Extract the categorical columns from the DataFrame
categorical_data = df[categorical_columns]

# Initialize the LabelEncoder
label_encoder = LabelEncoder()

# Apply the LabelEncoder to each column of the categorical data
encoded_data = categorical_data.apply(lambda col: label_encoder.fit_transform(col))

# Replace the original categorical columns with the encoded data
df[categorical_columns] = encoded_data

# Define features (X) and target variable (y)
X = df.drop('income', axis=1)
y = df['income']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create and train the logistic regression model
model = LogisticRegression()
model.fit(X_train, y_train)

# Make predictions on the test set (probabilities)
y_probabilities = model.predict_proba(X_test)

# The probability of being in class 0 and class 1
probability_class_0 = y_probabilities[:, 0]
probability_class_1 = y_probabilities[:, 1]

# You can use these probabilities as needed for analysis
print("Probability of Class 0:", probability_class_0)
print("Probability of Class 1:", probability_class_1)

# Convert probabilities to predicted classes
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
confusion_mat = confusion_matrix(y_test, y_pred)
classification_rep = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print(f"Confusion Matrix:\n{confusion_mat}")
print(f"Classification Report:\n{classification_rep}")

Probability of Class 0: [0.72260045 0.83948948 0.03270815 ... 0.85418765 0.87814788 0.77659463]
Probability of Class 1: [0.27739955 0.16051052 0.96729185 ... 0.14581235 0.12185212 0.22340537]
Accuracy: 0.7925069096120381
Confusion Matrix:
[[7045  434]
 [1593  697]]
Classification Report:
              precision    recall  f1-score   support

       <=50K       0.82      0.94      0.87      7479
        >50K       0.62      0.30      0.41      2290

    accuracy                           0.79      9769
   macro avg       0.72      0.62      0.64      9769
weighted avg       0.77      0.79      0.76      9769

In [4]:
X_train

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country
37193,42,4,145175,15,10,2,7,0,4,1,0,0,40,39
31093,52,6,175029,0,6,2,3,0,4,1,0,0,35,39
33814,34,2,172664,11,9,2,3,0,4,1,0,0,40,39
14500,28,4,125791,11,9,4,1,1,4,0,0,0,40,39
23399,46,4,28419,8,11,4,14,1,4,1,0,0,50,39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11284,36,4,635913,11,9,3,8,1,2,1,0,0,40,39
44732,34,4,107624,15,10,2,3,0,4,1,0,0,50,39
38158,28,4,250135,15,10,0,4,1,4,0,0,0,40,39
860,46,7,96652,8,11,5,1,4,2,0,0,0,40,39
15795,59,4,176118,12,14,2,10,0,4,1,0,0,7,39

In [5]:
y_probabilities

array([[0.72260045, 0.27739955],
       [0.83948948, 0.16051052],
       [0.03270815, 0.96729185],
       ...,
       [0.85418765, 0.14581235],
       [0.87814788, 0.12185212],
       [0.77659463, 0.22340537]])